#footer {
    position: absolute;
    z-index:1;
    width:100%;
    left: 0;
    bottom: 0;
    margin:0;
    padding: 0;
    display:table;
    color:#7f7f7f;
    background-color:#fafafa;
    border-top:2px solid #acacac;
    background:url('images/texture.webp') 0 0 repeat;
    background-color: whitesmoke;
    /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);*/
}
#footer table {
    width:100%;
    margin:0;
    padding:0;
}
#footer li {
    list-style-type: none;
    display: inline-block;
}
#footer hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
}

#footer ul {
    padding: 0;
}

#footer .pure-g {
    padding: .5em 7.5em .5em 3.5em;
}

/* footer links*/
.fl,a.fl {
    text-decoration:none !important;
    text-align:center;
    color:#555555 !important;
    font-weight: 400;
    font-size:1.3rem;
    font-family:serif;
    padding:0 10px 0 10px;
}
a.fl:visited,a.fls:visited {
    color:#555555;
}
a.fl:hover,a.fls:hover{
    cursor:pointer;
    color:#5c2bba !important;
}
.fls,a.fls {
    text-decoration:none;
    text-align:center;
    color:#555555;
    font-weight: 400;
    font-size:1.3rem;
    font-family: serif;
    padding:0 10px 0 10px;
}
.fls-sep {
    padding-left:10px;
    margin-right:10px;
    font-size:1.3rem;
    color:#acacac;
    border-right:1px solid #acacac;
}
.fl-sep {
    padding-left:10px;
    margin-right:10px;
    font-size:1.8rem;
    color:#acacac;
    border-right:1px solid #acacac;
}
/*footer icon links*/
.flb {
    text-decoration:none;
    margin:5px;
}
/*footer logo buttons*/
.inset {
    width:65px;
    height:65px;
    text-align:center;
    border: 1px dotted #aaa;
    border-radius:5px;
    background-color:white;
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(161,161,161,1);
    box-shadow: 3px 3px 5px 0px rgba(161,161,161,1);
    display:inline-flex;
}
.inset:hover {
    border: dotted #555 1px;
}
@media only screen and (max-width: 600px)  {
    #footer-tr1 {
    }
    #footer-tr2 {
        display:none;
    }
    #footer-tr3 {
        display:none;
    }
    #footer {
        height:5em;
    }
    #footer li {
        display: block;
    }
}

@media only screen and (min-width: 600px)  {
    #footer-tr1{
    }
    #footer-tr2{
        display:none;
    }
    #footer-tr3{
        display:none;
    }
    #footer{height:5em;}
}
@media only screen and (min-width: 900px)  {
    #footer-tr1{
    }
    #footer-tr2{
        display:table-row;
    }
    #footer-tr3{
        display:table-row;
    }
    #footer{height:auto;}
}
@media only screen and (min-width: 1400px)   {
    #footer-tr1{
    }
    #footer-tr2{
        display:table-row;
    }
    #footer-tr3{
        display:table-row;
    }
    #footer{height:auto;}
}
@media only screen and (hover: none) and (pointer: coarse) {
    #footer-tr1{
    }
    #footer-tr2{
        display:none;
    }
    #footer-tr3{
        display:none;
    }
    #footer{height:5em;}
}

.contrib,
.social {
    text-align: right;
}

#fLang ul li {
    margin: 0 .2em;
}
@media all and (max-width: 767px) {
    #fLang li {
        display: inline-block;
    }

    .contrib {
        text-align: center;
    }
}


.fl_custom {
    font-size: 110%;
    color: black !important;
}

.fa-facebook-square {
    font-size: 200%;
    color: #3B5998;
}

.fa-youtube-play {
    font-size: 200%;
    color: red;
}

.policies ul li {
    margin: 0 1em;
}
#terms_and_conditions {
    white-space: normal;
}
