/* scroll-up button in navigator panel
 *
 * */
#navigator {
    position:fixed;
    bottom:5%;
    right:5px;
    z-index:1102;
    line-height:40px;
    padding: 10px;
    /*border-radius: 5px;
    background-color:white;
    border:1px solid #acacac;*/
}
#hidenavigator {
    background-color: #efefef;
}
#navbuttons {
    display:none;
}
#navbuttons .button-href {
    -webkit-transition: background 1.0s ease-in-out;
    -ms-transition:     background 1.0s ease-in-out;
    transition:         background 1.0s ease-in-out;
}
#scrollup,#scrolldown {
    margin-top:5px;
}
#shownavigator {
    position:fixed;
    bottom:5%;
    right:0px;
    z-index:1101;
    height:50px;
    padding: 10px 0 10px 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top:1px solid #acacac;
    border-left:1px solid #acacac;
    border-bottom:1px solid #acacac;
    border-right:none;
    display:none;
}

