<div class="container">
    <section id="terms_and_conditions">
        <h1>Felhasználási feltételek</h1>
        <h2>Regisztráció az OpenBirdMaps adatbázisba</h2>
        <ul>
            <li>
                <p>A regisztráció az OpenBirdMaps adatbázisba ingyenes.</p></li>
            <li>
                <p>Az adatbázis használata csak saját család- és
                keresztnévvel regisztrált, valós személyek számára
                engedélyezett. Ezen szabály be nem tartása a felhasználói fiók
                megszüntetését vonja maga után.</p></li>
            <li>
                <p>A felhasználók neve csatolva lesz az általuk feltöltött
                megfigyelésekhez és nyilvános lesz.</p></li>
            <li>
                <p>Az OpenBirdMaps adatbázisba történő regisztrációhoz
                meghívó szükséges. Meghívót bármelyik regisztrált
                felhasználó küldhet bárkinek. Amennyiben nem ismer egyetlen
                felhasználót sem, forduljon az üzemeltetőkhöz.</p></li>
            <li>
                <p>Az OpenBirdMapshez csatlakozva elfogadja, hogy az e-mail
                címe az adminisztrátorok számára hozzáférhető lesz. Az
                adminisztrátorok kapcsolatba léphetnek önnel ezen a címen, hogy:</p>
                <ul>
                    <li>
                        <p>kommunikálják, ha jelentős rendszerszintű változások
                        voltak, amik kiemelt figyelmet igényelnek a felhasználó
                        részéről.</p></li>
                    <li>
                        <p>figyelmeztessék szabálysértés esetén, illetve
                        komolyabb vagy rendszeresen elkövetett kihágás esetén
                        kommunikálják a szankciókat.</p></li>
                    <li>
                        <p>további információkat kérjenek vagy javasolják a
                        javítást egy potenciálisan hibás vagy elégtelenül dokumentált
                        megfigyelés esetén.</p></li>
                    <li>
                        <p>engedélyt kérjenek az adatok kereskedelmi célú
                        felhasználására. 
                        </p></li>
                </ul>
            </li>
        </ul>

        <h2>Adatfeltöltés</h2>
        <ul>
            <li>
                <p>Az OpenBirdMaps adatbázis egy online felületként szolgál
                a madár elterjedés és más ehhez kapcsolódó adatok
                leközléséhez, publikációjához. Az ide feltöltött adatoknak
                jogi szempontból hasonló a státusa mint a nyomtatott formában
                megjelent tudományos publikációban leközölt adatoknak. Ezért:</p></li>
            <ul>
                <li>
                    <p>azáltal, hogy nyilvános adatként madármegfigyelési
                    adatokat tölt fel az OpenBirdMaps adatbázisba, elfogadja, hogy
                    adatai láthatóak lesznek és szabadon felhasználhatóak lesznek
                    mások számára természetvédelmi, nevelési, tudományos vagy
                    más nem kereskedelmi célokra. Kivételt képez az adatbázis
                    üzemeltetője, a Milvus Csoport Egyesület, mely kereskedelmi
                    célra is használhatja az adatokat (részletesebben lásd az Az
                    adatok felhasználási feltételei/Az adatok kereskedelmi célú
                    felhasználása pontnál).</p></li>
                <li>
                    <p>az OpenBirdMapsbe feltöltött megfigyeléseket a
                    felhasználóknak nem áll módjában törölni, az
                    adminisztrátorok is csak kivételes esetben törölhetnek adatokat
                    (hibás adat, aminek a javítása nem lehetséges, többszörösen
                    feltöltött adatok, stb.). A felhasználói fiók beszüntetésekor
                    az adtok törlését nem lehet kérvényezni, ezek továbbra is az
                    adatbázis részét fogják képezni.</p></li>
                <li>
                    <p>ha egy megfigyeléshez a Megfigyelők mezőbe az adatot
                    feltöltő felhasználón kívül más személyek neve is beírásra
                    kerül (ha a megfigyelő nem egyedül végezte a megfigyeléseket
                    vagy más megfigyelők adatait tölti fel), az adatot feltöltő
                    felhasználó felelőssége ehhez az illető személyek engedélyét
                    kérni. Az üzemeltetők nem vonhatók felelősségre ezen adatok
                    bekerüléséért az adatbázisba, azonban kérésre, ha jogosnak
                    ítélik, lehetőségük van ezen személyek nevének törlésére.</p></li>
            </ul>

            <li>
                <p>Amennyiben a feltöltött adatok nem lesznek nyilvánosak
                (általában különböző szerződések, programok, tudományos
                kutatások keretében gyűjtött megfigyelések), ez feltöltés
                előtt látható lesz az adatfeltöltésre szolgáló kitöltőívben,
                az Adat titkosítása mezőben.</p></li>
        </ul>
        <p><br/>

        <h2>Az adatok elérhetősége</h2>

        <p>Az adminisztrátoroknak hozzáférése van minden megfigyeléshez.</p>
        <p>Minden felhasználó teljes mértékben hozzáfér az általa
        feltöltött adatokhoz, minden részletét látja ezeknek és
        szerkeszteni is tudja őket.</p>
        <p>A más felhasználók által feltöltött megfigyelésekhez való
        hozzáférésnek három szintje van az OpenBirdMapsben:</p>
        <h3>Publikus adatok</h3>
        <ul>
            <li>
                <p>Alap esetben, az OpenBirdMaps fő céljának megfelelően,
                a feltöltött megfigyelések nyilvánosak. Ettől csak az alább
                felsorolt esetekben lehet eltekinteni.</p></li>
            <li>
                <p>A nyilvános adatok minden részlete nyilvános, minden
                felhasználó és nem regisztrált látogató számára látható.</p></li>
        </ul>
        <h3>Természetvédelmi okok miatt titkosított megfigyelések</h3>
        <ul>
            <li>
                <p>Bizonyos esetekben szükséges a megfigyelések
                természetvédelmi okokból történő elrejtése. Emiatt
                titkosíthatóak néhány veszélyeztetett faj adatai, illetve
                minden faj fészkekre vonatkozó adata (fészek és telep egységek,
                illetve B9 és minden C költési kód használatakor). Megkérjük
                titkosítsák a túzok (Otis tarda) és nyírfajd (Tetrao tetrix)
                minden megfigyelését, illetve a költőhely közelében vagy
                költésre alkalmas élőhelyen észlelt parlagi sas (Aquila
                heliaca), szirti sas (Aquila chrysaetos), kerecsensólyom (Falco
                cherrug), vándorsólyom (Falco peregrinus) és uhu (Bubo bubo)
                megfigyeléseket.</p></li>
            <li>
                <p>Ezek a megfigyelések teljesen hozzáférhetőek az adatot
                feltöltő felhasználónak és az adminisztrátoroknak, alap
                esetben a többi felhasználónak nincs hozzáférése ezekhez.</p></li>
            <li>
                <p>Amennyiben ezek az adatok nem valamilyen szisztematikus
                adatgyűjtés eredményeként kerültek be az adatbázisba, azaz a
                Program és Program koordinátor vagy adattulajdonos mezők
                nincsenek kitöltve, a felhasználási feltételük megegyezik a
                publikus adatokéval. Ilyen esetben, megalapozott indoklás esetén,
                az adminisztrátorok az adatot feltöltő felhasználó megkérdezése
                nélkül hozzáférést biztosíthatnak bizonyos felhasználóknak
                vagy felhasználó csoportoknak a természetvédelmi titkosítású
                megfigyelésekhez, amennyiben az adatokat igénylő felhasználókat
                megfelelően megbízhatónak ítélik meg.</p></li>
            <li>
                <p>Amennyiben ezek az adatok egy szisztematikus adatgyűjtés
                eredményeként kerültek be az adatbázisba, azaz a Program és
                Program koordinátor vagy adattulajdonos mezők ki vannak töltve, a
                felhasználási feltételük megegyezik a részlegese hozzáférésű
                adatokéval. Ilyen esetben csak az adattulajdonos beleegyezésével
                lehet hozzáférést biztosítani a megfigyeléskehez más
                felhasználóknak. 
                </p></li>
        </ul>
        <h3>Részleges hozzáférésű adatok</h3>
        <ul>
            <li>
                <p>Amennyiben egy felhasználó vagy egy szervezet módszeresen
                gyűjtött adatokat szeretne feltölteni az OpenBirdMaps
                adatbázisba, de nem szeretné (pl. egy tudományos publikációt
                szeretne írni ezek felhasználásával vagy kereskedelmi célra
                szeretné őket használni) vagy nem szabad (pl. egy szerződés
                feltételei miatt) nyilvánosságra hoznia ezeket, lehetőséget
                biztosítunk az adatok részleges titkosítására. Amennyiben így
                szeretne megfigyeléseket feltölteni, forduljon az
                adminisztrátorokhoz.</p></li>
            <li>
                <p>A részleges hozzáférés keretében egy adatból csak
                bizonyos részletek kerülnek publikálásra, melyek lehetővé
                teszik a felhasználók számára, hogy tudomást szerezzenek az
                adat létezéséről, tulajdonosáról, illetve egy képet
                formáljanak az adat hasznáról. Az adatokból viszont hiányzanak
                azok a részletek, melyek a hasznos felhasználásukat lehetővé
                tennék.</p></li>
            <li>
                <p>A következő mezők publikusak: geometria (hely), faj,
                módszer, program és program koordinátor vagy adattulajdonos.</p></li>
            <li>
                <p>Az adattulajdonos kérésére/engedélyével lehetőség
                van további felhasználóknak is teljes körű hozzáférés
                biztosítására a részleges hozzáférésű adatokhoz.</p></li>
        </ul>
        <h2>A feltöltött adatok minősége</h2>
        <p>Az OpenBirdMaps nagy hangsúlyt fektet a helyes adatok
        bemutatására, emiatt:</p>
        <ul>
            <li>
                <p>Megkérjük feltöltés előtt ellenőrizze a beírt
                adatokat, mivel gépelési hibák gyakran előfordulnak.</p></li>
            <li>
                <p>Kivételes megfigyelések esetén – országosan vagy
                regionálisan ritka fajok, nagyon magas egyedszám, egy faj olyan
                szezonban történő megfigyelése, amikor normálisan nem vagy
                ritkán fordul elő az illető területen –, kérjük dokumentálja
                a megfigyelést. Lehetőség van fényképeket, hang fájlokat, vagy
                dokumentumokat feltölteni, vagy készítsen leírást a
                megfigyelésről.</p></li>
            <li>
                <p>Az adatok helyességének a biztosítása a megfigyeléseket
                ellenőrző szakemberek (adatgazdák) segítségével történik,
                akik időnként átnézik a feltöltött adatokat. Az elégtelenül
                dokumentált kivételes megfigyelések és a potenciálisan hibás
                megfigyelések esetén ezen személyek felvehetik a kapcsolatot a
                feltöltővel, hogy további információkat kérjenek a
                megfigyelésről, vagy a javítását javasolják.</p></li>
            <li>
                <p>Az üzemeltetők nem módosítják a megfigyeléseket az
                adatot feltöltő felhasználó beleegyezése nélkül, a hibák
                javítását lehetőleg a felhasználó maga kell elvégezze.</p></li>
            <li>
                <p>Amennyiben lesznek olyan kivételes megfigyelések, melyek
                elégtelenül dokumentáltak és az adatgazdák jelentős esélyt
                látnak arra, hogy ezek hibás adatok legyenek, dönthetnek az
                adatok érvénytelenítéséről. Egy érvénytelenített
                megfigyelés továbbra is látható marad a feltöltő számára,
                viszont a többi felhasználó számára ezen megfigyelések nem
                lesznek elérhetőek.</p></li>
            <li>
                <p>Azok a felhasználók, akik hamis adatokat töltenek fel,
                illetve azok, akik gyakran hibás megfigyeléseket töltenek fel és
                nem veszik figyelembe az adatgazdák javaslatait ezek javítására,
                kizárhatóak az OpenBirdMapsről.</p></li>
        </ul>
        <h2>Az adatok felhasználási feltételei</h2>
        <h3>Nyilvános adatok</h3>
        <h4>Tudományos publikációk</h4>
        <p>A tudományos publikálás szempontjából az OpenBirdMapsben
        kétféle nyilvános adattípus létezik, melyeknek a felhasználási
        feltételei különböznek:</p>
        <ul>
            <li>
                <p>szabadon, az adatot feltöltő felhasználó vagy az
                adminisztrátorok megkérdezése nélkül használhatóak azok az
                adatok, melyek NEM egy Program keretében voltak gyűjtve (azaz a
                Program és a Program koordinátor vagy adattulajdonos mezők
                üresek).</p></li>
            <li>
                <p>A nagyobb, módszeresen, programok vagy projektek keretében
                gyűjtött adatszettek csak a program koordinátora vagy az
                adattulajdonos beleegyezésével használhatóak tudományos
                publikációkban. Általában az ilyen adatok szabadon használhatóak
                a Program eredeti céljától eltérő célokra. Pl. ha a program
                célja egy fajcsoport országos elterjedésének, gyakoriságának
                és állományváltozásának a vizsgálata, akkor a program
                koordinátor valószínűleg nem fogja ugyanilyen célra
                engedélyezni az adathasználatot. Viszont felhasználhatók az
                adatok például élőhelyhasználat vizsgálatra, kisebb (pl
                megyei) vagy nagyobb (pl európai) földrajzi léptékű elterjedési
                térképek készítésére, stb. Az ilyen adatoknál a két Program
                mező egyike és a Program koordinátor vagy adattulajdonos mezők
                ki vannak töltve.</p></li>
        </ul>
        <p>Az OpenBirdMapsben közölt megfigyelések felhasználása
        kizárólag a forrás megjelölésével történhet. Egy lekérdezés
        után a lekérdezés eredményeként létrejött adatszett
        lementhető, ez pedig egy egyedi DOI azonosító kérésére
        használható. Ugyanakkor létrejön egy adatlap is, ahol többek
        között felsorolásra kerülnek az illető adatszett adatközlői,
        illetve ha a megfigyelések nyilvánosak, egy link is az elérésükhöz.
        Az idézés kötelező módon kell tartalmazza az erre az adatlapra
        mutató linket. A DOI azonosító kéréséhez és az ajánlott
        idézéshez kérjük vegyék fel a kapcsolatot az üzemeltetőkkel (a
        folyamat néhány napot vesz igénybe).</p>
        <p>Az idézés ajánlott formája:</p>
        <ul>
            <li>
                <p>nagy, sok megfigyelőtől származó adatszettek estén
                kérjük vegyék fel a kapcsolatot az üzemeltetőkkel és
                igényeljenek DOI azonosítót. Ezúton biztosítható a
                megfigyelések szerzőinek a megfelelő hivatkozása. Az üzemeltetők
                megadják az idézés formáját is.</p></li>
            <li>
                <p>kisebb, egy vagy kevés megfigyelőtől származó
                adatszettek esetén is ajánlott a DOI azonosító kérése, de
                elfogadható egy alternatív idézési forma is:</p>
                <p></p>
                <p>(megfigyelő(k) neve), (év, amennyiben az adtok egy évből
                származnak), OpenBirdMaps: Románia vadon élő madarainak időbeli
                és térbeli elterjedését bemutató adatbázis, üzemeltető:
                Milvus Csoport Egyesület, Marosvásárhely, Románia,
                <a class="western" href="http://www.openbirdmaps.ro/">http://www.openbirdmaps.ro</a>,
                letöltve (az adat(ok) letöltésének/megnézésének dátuma)</p></li>
        </ul>
        <p>Ha a publikációban felhasznált adatok nagy része egy vagy
        kevés megfigyelőtől származik, ajánlott legalább a felsorolásuk
        a publikáció Köszönetnyilvánításában, de akár a társszerzői
        státus felajánlása is indokolt lehet. Ez utóbbi esetben kérjük
        mindenképpen vegye fel a kapcsolatot az adatokat feltöltő
        felhasználóval.</p>
        <h4>Egyéb nem kereskedelmi célokra való felhasználás</h4>
        <p>Minden nyílt adat szabadon, a feltöltők megkérdezése nélkül
        használható természetvédelmi, oktatási/nevelési vagy egyéb nem
        kereskedelmi célokra, a tudományos publikációkat leszámítva. A
        környezeti hatástanulmányok NEM tartoznak ezen tevékenységek
        körébe, ezek kereskedelmi tevékenységnek minősülnek.</p>
        <h4>Az adatok kereskedelmi célokra történő felhasználása</h4>
        <ul>
            <li>
                <p>Az adatok alap esetben nem használhatóak kereskedelmi
                célokra. Speciális esetekben, amikor bár kereskedelmi
                tevékenységről van szó, ha az üzemeltetők úgy ítélik, hogy
                a tevékenységnek jelentős természetvédelmi vagy tudományos
                hozadéka van, dönthetnek az adatok használatának a támogatása
                mellett. Ebben az esetben az üzemeltetők kötelező módon
                engedélyt kérnek minden felhasználótól vagy adattulajdonostól
                az adatok kereskedelmi célra történő használatára.</p></li>
            <li>
                <p>A Milvus Csoport Egyesület kivételt képez ezen szabály
                alól és használhatja az OpenBirdMaspbe feltöltött
                megfigyeléseket kereskedelmi célokra, az adatokat feltöltő
                felhasználók további értesítése nélkül. A kereskedelmi
                tevékenységek keretében szerzett profitot az egyesület olyan
                természetvédelmi vagy kutatási projektek, programok futtatására
                használja, amire éppen nincs elégséges pályázati vagy egyéb
                jellegű támogatás. Ilyenek például az OpenBirdMaps adatbázis
                fenntartása, a Románia költő madarainak atlasza projekt, a
                monitoringprogramok, a gyűrűző és vonuláskutató táborok,
                veszélyeztetett fajok (pl kerecsensólyom, kék vércse, ürge,
                stb.) kutatása és védelme, a madár rehabilitációs központ
                fenntartása, környezeti nevelési projektek, stb.</p></li>
        </ul>
        <h3>Részeleges hozzáférésű adatokat</h3>
        <p>A részleges hozzáférésű adatok gyakran használhatóak
        tudományos publikációkhoz vagy egyéb nem kereskedelmi jellegű
        tevékenységekhez. Amennyiben hozzáférést szeretne ezen adatokhoz
        kérjük vegye fel a kapcsolatot a Program koordinátor vagy
        adattulajdonos mezőben szereplő intézménnyel vagy személlyel.</p>
        <h3>Fényképek, hang fájlok, filmek</h3>
        <p>Az adatokhoz csatolt fényképek, hang fájlok és filmek az őket
        feltöltő felhasználó tulajdonát képezik és nem használhatóak
        az engedélye nélkül.</p>
        <h3>Az adatok letöltése</h3>
        <p>Az OpenBirdMaps egyik fő célja, hogy lehetővé tegye a nyers adatok
        minél szélesebb körű tudományos, természetvédelmi, nevelési vagy más 
        nem kereskedelmi célú felhasználását. Emiatt fontosnak tartjuk, hogy 
        egy lekérdezés után a nyers adatok letölthetőek legyenek a 
        felhasználók számára. Attól függően, hogy a felhasználó kizárólag a 
        saját vagy más felhasználók adatait is le szeretné tölteni, a 
        letöltés kétféleképpen történik: </p>
        <ul>
            <li> ha a lekérdezésben kizárólag a felhasználó saját adatai 
                szerepelnek, az adatok azonnal letölthetőek. </li>
            <li> amennyiben a lekérdezés tartalmaz más felhasználók által 
                feltöltött adatokat is, a felhasználót az adatok felhasználási 
                céljának/módjának a rövid bemutatására kérjük. Ezáltal egyrészt 
                szeretnénk információt gyűjteni az adatok felhasználási 
                módjáról, másrészt pedig mivel az adatok felhasználása 
                feltételekhez kötött, szeretnénk megbizonyosodni ezen 
                feltételek betartásáról. Amennyiben az adatigénylés megfelel a 
                felhasználási feltételeknek, jóváhagyásra kerül és a felhasználó 
                letöltheti az igényelt adatszettet. Amennyiben az 
                adminisztrátorok nem találják megfelelően hitelesnek az igénylés 
                indoklását, további részleteket kérhetnek az adatok 
                felhasználásának módjáról és végső esetben jogukban áll 
                visszautasítani az adatigénylést. Ez utóbbi leginkább a nagy 
                adatszettek igénylése esetén lehet indokolt. </li>
            <li> az adatbázis üzemeltetői engedélyt adhatnak ugyanakkor bizonyos 
                felhasználóknak vagy csoportoknak bizonyos típusú adatok (pl. 
                egy program koordinátorának a az illető program keretében 
                feltöltött adatok) direkt letöltéséhez. </li>
        </ul>
        <h2>Hozzászólások (kommentek)</h2>
        <p>A hozzászólások (kommentek) célja az OpenBirdMapsbe feltöltött
        madártani megfigyelésekről történő beszélgetés és vélemény
        nyilvánítás. Ez magában foglalja többek között például a
        megfigyelés körülményeiről történő beszélgetést, egy
        potenciális hibára történő figyelem felhívást, az adatok mellé
        feltöltött fényképek és más csatolmányokról történő
        beszélgetést, stb.</p>
        <p>Ha hozzá szeretne szólni vagy véleményt szeretne nyilvánítani
        egy megfigyelésről, feltöltésről, fényképről, stb., kérjük
        tartsa tiszteletben a következő szabályokat:</p>
        <ul>
            <li>
                <p>Használjon civilizált nyelvezetet! A trágár szavak
                használata nem megengedett.</p></li>
            <li>
                <p>A hozzászólások témája legyen a fentebb megfogalmazott
                célnak megfelelő!</p></li>
            <li>
                <p>Nem toleráljuk a gyűlöletbeszédet és az erőszakra
                való felbujtást.</p></li>
            <li>
                <p>Nem toleráljuk a népek, nemzetiségek, bármely
                kisebbségek, vallások, nemek, különböző szexuális
                orientációjú személyek, egészségügyileg, szociálisan vagy
                gazdaságilag hátrányosan érintett csoportok vagy személyek
                hátrányos megkülönböztetését tartalmazó hozzászólásokat.</p></li>
            <li>
                <p>Nem toleráljuk a kemény személyes támadásokat,
                fenyegetéseket, illetve a zaklatást.</p></li>
            <li>
                <p>Kérjük ne használják a felületet reklámozás
                céljából!</p></li>
            <li>
                <p>Tilos más személyes adatainak a beleegyezése nélküli
                nyilvánosságra hozása!</p></li>
        </ul>
        <p>A szabályok megszegése, az eset súlyosságától függően,
        maga után vonhatja a hozzászólás moderálását, a hozzászólás
        törlését, vagy, nagyon súlyos esetben az illető felhasználó
        felhasználói fiókjának a beszüntetését is. A moderálást az
        adatbázis adminisztrátorai végzik. Az adminisztrátorok és az
        üzemeltető nem vállalnak felelősséget a felhasználók által
        írt hozzászólások tartalmáért és az azokban megfogalmazott
        véleményekért.</p>

        <hr>

        <p> Utolsó módosítás: 2018. december 2. </p>
    </section>
</div>

