<div class="container" lang="ro-RO">
    <section id="terms_and_conditions">
        <h1>Reguli și condiții de utilizare</h1>
        
        <h2>Înregistrarea la OpenBirdMaps și condițiile generale de utilizare</h2>
        
        <ul>
            <li>
                <p>înregistrarea la OpenBirdMaps este gratuită</p></li>
            <li>
                <p>utilizarea bazei de date este permisă
                numai de către persoane reale,
                înregistrate cu nume şi prenume reale.
                Cei cu identitate falsă sau cu porecle vor fi eliminați de pe
                pagină</p></li>
            <li>
                <p>numele utilizatorilor vor fi legate de observațiile
                încărcate și vor fi publice</p></li>
            <li>
                <p>înregistrarea este posibilă numai pe
                bază de invitație.
                Invitația poate fi trimisă de oricare utilizator. Dacă nu
                cunoașteți niciun utilizator, vă rugăm contactați
                administratorii.</p></li>
            <li>
                <p>prin înregistrarea la OpenBirdMaps acceptați ca adresa de
                e-mail să fie vizibilă administratorilor. Administratorii vă pot
                contacta pe această adresă pentru:</p></li>
            <ul>
                <li>
                    <p>a vă comunica schimbările importante din sistem care
                    necesită atenție sporită din partea utilizatorului</p></li>
                <li>
                    <p>a vă atrage atenția în cazul în care nu ați respectat
                    regulile sau pentru a vă comunica sancțiunile în cazul
                    încălcării grave sau încălcării în repetate rânduri a
                    regulilor</p></li>
                <li>
                    <p>a vă cere mai multe informații despre anumite observații
                    sau pentru a sugera corectarea unor observații potențial eronate
                    sau insuficient documentate</p></li>
                <li>
                    <p>a vă cere permisiunea pentru folosirea datelor în
                    scopuri comerciale.</p></li>
            </ul>
        </ul>
        
        <h2>Încărcarea de date</h2>
        
        <ul>
            <li>
                <p>OpenBirdMaps este o suprafață online dedicat publicării
                observațiilor de distribuție de păsări și alte detalii legate
                de acesta. Încărcarea de date în OpenBirdMaps este similar din
                punct de vedere juridic cu publicarea datelor într-o formă
                tipărită. Prin urmare:</p></li>
            <ul>
                <li>
                    <p>prin încărcarea de date publice despre păsări în
                    OpenBirdMaps acceptați faptul că datele vor fi vizibile și vor
                    putea fi folosite de alții în scopuri precum: protecția naturii,
                    educație, publicații științifice sau alte scopuri
                    non-comerciale. Pentru Asociația Grupul Milvus, inițiatorul bazei
                    de date, va fi permisă utilizarea datelor și în scopuri
                    comerciale (în detaliu vezi la Condiții de utilizare a
                    datelor/Folosirea datelor în scop comercial).</p></li>
                <li>
                    <p>acceptați faptul, că datele odată încărcate nu pot fi
                    șterse de utilizatori! Administratorii au posibilitatea ștergerii
                    datelor, dar acest lucru se va întâmpla numai în cazuri
                    excepționale (de ex. date eronate care nu pot fi corectate, date
                    încărcate de mai multe ori). În cazul închiderii contului de
                    utilizator, nu poate fi cerută ștergerea datelor încărcate,
                    acestea vor rămâne în continuare în baza de date.</p></li>
                <li>
                    <p>în cazul în care, în câmpul Observatori dintr-o
                    observație sunt introduse alte nume decât cele ale utilizatorului
                    care încarcă datele (dacă utilizatorul era însoțit de alți
                    observatori sau utilizatorul încarcă observațiile altor
                    persoane), utilizatorul are responsabilitatea de a cere
                    consimțământul persoanelor ale căror nume vor fi încărcate.
                    Administratorii nu sunt responsabili pentru încărcarea acestor
                    date, dar la cerere, dacă administratorii consideră justificat,
                    numele acestor persoane pot fi șterse din observație.</p></li>
            </ul>

            <li>
                <p>în cazurile în care datele încărcate nu vor fi publice
                (de obicei date colectate în cadrul unor contracte, programe sau
                studii științifice), acest fapt va fi semnalat înaintea
                încărcării datelor în formularul de încărcare în câmpul
                Ascunderea observației.</p></li>
        </ul>
        
        <h2>Accesibilitatea datelor</h2>
        
        <p>Toate observațiile sunt vizibile pentru administratori.</p>
        <p>Fiecare utilizator va avea acces la toate datele proprii și le va
        putea edita.</p>
        <p>Pentru restul utilizatorilor, observațiile publicate în
        OpenBirdMaps vor avea trei nivele de acces:</p>
        
        <h3>Date publice</h3>
        
        <ul>
            <li>
                <p>În mod implicit, conform scopului principal al bazei de
                date, datele încărcate înOpenBirdMaps sunt publice. Excepții
                de la această regulă pot fi făcute numai în cazurile enumerate
                mai jos.</p></li>
            <li>
                <p>Toate detaliile datelor publice sunt vizibile tuturor
                utilizatorilor și vizitatorilor neînregistrați.</p>
        </ul>

        <h3>Observațiile ascunse ale unor specii periclitate sau cuiburi</h3>

        <ul>
            <li>
                <p>În anumite cazuri este necesară ascunderea unor
                observații pentru a proteja speciile amenințate sau cuiburile
                acestora. Prin urmare este permisă ascunderea observațiilor unor
                specii amenințate, respectiv a cuiburilor tuturor speciilor
                (unitate cuib sau colonie, respectiv codurile de cuibărit B9 și
                toate codurile C). Pentru a le proteja de posibile amenințări, vă
                rugăm ascundeți toate datele de dropie (Otis tarda) și cocoș de
                mesteacăn (Tetrao tetrix), respectiv datele exemplarelor aflate în
                teritorii cunoscute sau posibile de acvilă de câmp (Aquila
                heliaca), acvilă de munte (Aquila chrysaetos), șoim dunărean
                (Falco cherrug), șoim călător (Falco peregrinus) și buhă (Bubo
                bubo)!</p></li>
            <li>
                <p>Aceste observații sunt vizibile utilizatorului care le-a
                încărcat, respectiv administratorilor, dar sunt complet ascunse de
                majoritatea utilizatorilor.</p></li>
            <li>
                <p>În cazul în care aceste date nu fac parte dintr-o
                colectare de date sistematică, adică nu sunt completate câmpurile
                Program și Coordonatorul de program sau proprietarul datelor,
                datele au statut identic datelor publice din punctul de vedere al
                utilizării lor. Prin urmare administratorii pot decide, fără
                întrebarea utilizatorului care a încărcat observația, asupra
                acordării accesului la aceste date pentru utilizatori sau grupuri
                de utilizatori considerați de încredere, dacă aceștia solicită
                în mod justificat acest lucru.</p></li>
            <li>
                <p>În cazul în care aceste date fac parte dintr-o colectare
                de date sistematică, la care estecompletat câmpul Program și
                Coordonatorul de program sau proprietarul datelor, observațiile au
                un statut identic cu datele cu acces parțial restricționat din
                punctul de vedere al utilizării lor și accesul poate fi acordat
                numai cu acordul proprietarilor datelor.</p></li>
        </ul>

        <h3>Observațiile cu acces parțial restricționat</h3>

        <ul>
            <li>
                <p>În cazul în care un utilizator sau o organizație dorește
                să încarce datele colectate în mod sistematic în OpenBirdMaps,
                dar din anumite motive justificate nu dorește (de ex. dorește să
                scrie o publicație științifică sau folosește datele pentru
                scopuri comerciale) sau nu poate (din motive contractuale) publica
                datele, acestea pot fi încărcate cu acces parțial restricționat.
                Dacă este vorba de un astfel de caz vă rugăm contactați
                administratorii!</p></li>
            <li>
                <p>În cazul datelor cu acces parțial restricționat, vor fi
                publicate numai anumite detalii care permit publicului larg să afle
                despre existența acestor date, despre proprietarul acestora, iar
                detaliile publicate vor ajuta și la evaluarea calitativă a
                informației pentru utilizatorul potențial. Datele nu vor fi însă
                suficient de detaliate pentru a permite utilizarea lor.</p></li>
            <li>
                <p>Printre detaliile vizibile tuturor utilizatorilor se
                numără: geometria (locul), specia, metodologia, programul național
                și coordonatorul de program sau proprietarul datelor.</p></li>
            <li>
                <p>La cererea utilizatorului care a încărcat datele, poate
                fi acordat acces complet mai multor utilizatori.</p></li>
        </ul>

        <h2>Calitatea datelor</h2>

        <p>OpenBirdMaps este dedicat prezentării unor date cât mai corecte.
        Din acest motiv:</p>
        <ul>
            <li>
                <p>vă rugăm verificați datele introduse înaintea
                încărcării lor</p></li>
            <li>
                <p>în cazul unor observații mai speciale - specii rare pe
                plan național sau regional, număr de exemplare foarte ridicat,
                observația unei specii într-un sezon în care în mod normal nu
                este prezentă - vă rugăm documentați cât mai bine observația!
                Aveți posibilitatea de a încărca fotografii sau fișiere audio
                legate de observație sau puteți face o descriere detaliată a
                observației.</p></li>
            <li>
                <p>pentru a asigura o calitate bună datelor prezentate în
                OpenBirdMaps vor exista specialiști care vor verifica periodic
                observațiile. În cazul unor observații mai speciale care nu sunt
                suficient de bine documentate, sunt suspecte de a fi eronate sau
                sunt în mod evident greșite, puteți fi contactați de
                administratori pentru a cere detalii suplimentare/a sugera
                corectarea observațiilor.</p></li>
            <li>
                <p>nicio observație nu va fi corectată fără acordul
                utilizatorului care a încărcat observația. De fapt este
                preferabil ca greșelile să fie corectate de utilizatorii înșiși.</p></li>
            <li>
                <p>în cazul în care vor exista observații speciale care nu
                sunt documentate în mod satisfăcător de utilizator, iar
                administratorii o consideră greșită, administratorii pot opta
                pentru nevalidarea observației. O observație nevalidată va fi
                vizibilă în continuare utilizatorului care a încărcat
                observația, dar nu și celorlalți utilizatori.</p></li>
            <li>
                <p>utilizatorii care încarcă frecvent date false sau date
                greșite și nu acceptă propunerile verificatorilor de a le corecta
                pot fi excluși din OpenBirdMaps.</p></li>
        </ul>

        <h2>Condiții de utilizare a datelor</h2>

        <h3>Date publice în OpenBirdMaps</h3>

        <h4>Publicații științifice</h4>

        <p>Pe OpenBirdMaps apar două tipuri de date publicate în întregime
        care vor fi tratate diferit în ceea ce privește permisiunea de a fi
        folosite în publicații:</p>
        <ul>
            <li>
                <p>pot fi folosite liber fără permisiunea utilizatorilor
                care le-a încărcat, datele care NU au fost colectate în cadrul
                unor Programe (adică cele două câmpuri de Program sunt goale)</p></li>
            <li>
                <p>seturile de date mai mari care au fost colectate cu metode
                sistematice în cadrul unor Programe (sau proiecte) pot fi folosite
                în publicații științifice numai cu acordul coordonatorului de
                program sau, după caz, a proprietarului datelor. Programul și
                Coordonatorul de program sau proprietarul datelor vor fi indicați
                la fiecare observație. În cazul acestora, în general, va fi
                permisă folosirea datelor în alte scopuri decât cel original al
                Programului. De ex. dacă un program are ca scop determinarea
                distribuției, abundenței și monitorizarea unui grup de specii în
                România, atunci nu se va permite folosirea datelor în același
                scop. Se permite însă folosirea datelor de ex. pentru realizarea
                unei analize de preferință a habitatului speciei respective sau a
                unei analize de abundență pe o regiune mai mare, precum, de ex.
                Europa.</p></li>
        </ul>
        <p>Folosirea datelor din OpenBirdMaps este permisă numai prin
        menționarea surselor. În OpenBirdMaps rezultatele interogării pot
        fi salvate. Acestea pot fi folosite pentru a cere un identificator
        unic DOI pentru setul respectiv de date. Se va crea, totodată, o
        pagină a interogării salvate, unde vor fi prezentate printre altele
        și contributorii de date, respectiv, dacă datele neprelucrate
        trebuie/pot fi făcute publice, un link la aceștia. Citația din
        publicație va conține în mod obligatoriu un link către această
        pagină. Pentru a solicita un identificator DOI și pentru forma
        citației recomandate, vă rugăm contactați administratorii
        (procesul este relativ rapid).</p>
        <p>Forma recomandată a citației:</p>
        <ul>
            <li>
                <p>în cazul unui set de date mari care provine de la foarte
                mulți observatori, vă rugăm contactați administratorii și
                urmăriți procedeul de solicitare a unui identificator DOI. Astfel
                poate fi asigurat dreptul autorilor observațiilor de a fi citați
                în mod corespunzător. Administratorii vor indica forma citației.</p></li>
            <li>
                <p>în cazul unor date care provin de la un singur observator
                sau puțini observatori, cu toate că și în acest caz recomandăm
                urmărirea procedeului de solicitare a unui identificator DOI, poate
                fi folosită și citația:</p></li>
        </ul>
        <p>(numele observatorului), (anul, dacă datele provin dintr-un
        singur an), OpenBirdMaps: Bază de date online de distribuție și
        abundență a păsărilor din România inițiată de Asociația
        Grupul Milvus, Târgu Mureș, România, http://www.openbirdmaps.ro,
        descărcat la data de (introduceți data accesării datelor)</p>
        <p>Dacă un procent mare al unui set de date folosite la o publicație
        provine de la un singur sau un număr mic de observatori, este cel
        puțin recomandată enumerarea acestora în Mulțumiri, dar în
        anumite cazuri pot fi considerați coautorii publicației. Acest fapt
        va fi permis, însă, numai cu acordul persoanei sau persoanelor
        respective.</p>

        <h4>Alte scopuri non-comerciale</h4>
        <p>Toate datele publice pot fi folosite liber în scopul conservării
        naturii, în educație sau alte scopuri non-comerciale (cu excepția
        publicațiilor științifice). Realizarea de studii de evaluare
        adecvată NU intră în această categorie, ele fac parte din
        capitolul “folosirea datelor în scop comercial”.</p>

        <h4>Folosirea datelor în scop comercial</h4>
        <ul>
            <li>
                <p>Datele în general nu pot fi folosite în scop comercial.
                În cazuri speciale, în care deși este vorba de o activitate
                comercială, dar acesta contribuie semnificativ la protecția
                naturii sau are un impact științific semnificativ, administratorii
                OpenBirdMaps pot decide în favoarea folosirii datelor, dar numai cu
                acordul prealabil după caz al coordonatorilor de program, al
                proprietarilor de date sau al utilizatorilor care au încărcat
                observațiile. Dacă considerați că este vorba de un astfel de
                caz, vă rugăm contactați administratorii.</p></li>
            <li>
                <p>Asociația Grupul Milvus reprezintă o excepție de la
                această regulă și are dreptul de a folosi datele încărcate în
                OpenBirdMaps în scopuri comerciale fără înștiințarea
                utilizatorilor care le-au încărcat. Profitul generat în cadrul
                activităților comerciale ale Grupului Milvus sunt folosite pentru
                finanțarea unor proiecte sau programe de protecția naturii sau de
                studii științifice ale căror finanțare nu este rezolvată din
                alte surse. Printre acestea se numără, de exemplu, baza de date
                OpenBirdMaps, proiectul Atlasul păsărilor cuibăritoare din
                România, programele de monitorizare, taberele de studiu ale
                migrației păsărilor, activități de protecție și cercetare a
                unor specii periclitate (de ex. șoimul dunărean, vânturelul de
                seară, popândăul, etc.), susținerea centrului de reabilitare
                pentru animale sălbatice, proiecte de educație ecologică, etc.</p></li>
        </ul>

        <h3>Date parțial accesibile</h3>
        <p>Datele parțial accesibile pot fi adeseori folosite în publicații
        științifice sau alte scopuri non-comerciale. Vă rugăm contactați
        Coordonatorul de program sau proprietarul de date indicat la fiecare
        observație.</p>

        <h3>Fotografii, filme, înregistrări audio</h3>
        <p>Fotografiile, filmele și înregistrările audio atașate
        observațiilor reprezintă proprietatea utilizatorului care le-a
        încărcat și nu pot fi folosite fără acordul lui.</p>

        <h3>Descărcarea datelor</h3>
        <p>OpenBirdMaps are ca scop principal asigurarea accesului la date 
        neprelucrate pentru a crește oportunitatea de a le utiliza în 
        scopul conservării naturii, în scopuri științifice, în educație 
        sau pentru alte scopuri non-comerciale. Din acest motiv considerăm 
        important, ca pentru orice utilizator după o filtrare să existe 
        posibilitatea descărcării datelor. În funcție de faptul, că 
        utilizatorul dorește exclusiv descărcarea datelor proprii sau 
        dorește (și) descărcarea datelor altor utilizatori, descărcarea 
        are loc în două feluri: </p>

        <ul>
            <li>
                dacă datele filtrate conțin numai date proprii ale 
                utilizatorului, descărcarea datelor poate fi realizată imediat.
            </li>
            <li>
                dacă datele filtrate conțin date încărcate (și) de alți 
                utilizatori, utilizatorul este rugat să prezinte pe scurt 
                scopul/modul de utilizare a datelor. Prin acest pas dorim 
                pe de o parte să primim informații despre modul de utilizare 
                a datelor, pe de altă parte, datorită faptului că utilizarea 
                datelor este supusă anumitor condiții, dorim să asigurăm 
                că aceste condiții sunt respectate. Dacă solicitarea de date 
                este conformă cu regulile de utilizare a datelor, va fi 
                aprobată și utilizatorul poate descărca setul de date solicitat. 
                În cazul în care administratorii nu consideră justificarea demn 
                de crezare sau o consideră insuficient elaborată, pot cere detalii 
                suplimentare iar în final au dreptul de a refuza solicitarea. 
                Acesta din urmă poate fi cazul în special la solicitarea unor 
                seturi de date foarte mari. 
            </li>
            <li>
                administratorii pot da drept anumitor utilizatori/grupuri la 
                descărcarea directă a anumitor date (de ex. coordonatorului unui 
                program la descărcarea directă a datelor din programul respectiv).
            </li>
        </ul>



        <h2>Comentariile</h2>

        <p>Comentariile au scopul de a discuta sau
        de a exprima o opinie despre observațiile
        de păsări încărcate în OpenBirdMaps. Acestea pot include, de ex.
        condițiile observației, atragerea atenției utilizatorului asupra
        unei potențiale identificări greșite ale unor exemplare, discuții
        despre fotografiile și a altor materiale încărcate lângă
        observații, etc.</p>
        <p>Dacă doriți să scrieți un comentariu la o
        observație, încărcare, fotografie, etc., vă rugăm respectați
        următoarele reguli:</p>
        <ul>
            <li>
                <p>Folosiți un limbaj civilizat!</p></li>
            <li>
                <p>Tema comentariilor trebuie să fie în concordanță cu
                scopul comentariilor formulate mai sus.</p></li>
            <li>
                <p>Nu va fi tolerat discursul urii și instigarea la violență.</p></li>
            <li>
                <p>Nu vom permite victimizarea ori denigrarea unor persoane
                sau grupuri pe baza criteriilor care includ, dar nu se limitează
                la: rasa sau etnia, identitatea de gen, orientarea sexuală, țara
                sau regiunea de origine, religia, boli sau dizabilități, statutul
                socio-economic.</p></li>
            <li>
                <p>Nu vor fi tolerate atacurile dure la persoană, amenințarea
                sau hărțuirea unor utilizatori.</p></li>
            <li>
                <p>Nu postați reclame!</p></li>
            <li>
                <p>Nu postați în niciun caz informații
                personale despre alte persoane fără
                acordul lor!</p></li>
        </ul>
        <p>Încălcarea regulilor poate atrage după sine moderarea
        comentariilor, ștergerea comentariilor sau în cazuri foarte grave
        înlăturarea utilizatorilor din OpenBirdMaps. Moderarea va fi
        realizată de administratorii bazei de date. Administratorii nu își
        asumă responsabilitatea asupra conținutului comentariilor publicate
        de utilizatori pe pagină.</p>

        <hr> 

        <p> Data ultimei modificări: 02. 12. 2018. </p>
    </section>
</div>

