<div class="container">

    <h1>Az OpenBirdMaps adatkezelési tájékoztatója</h1>

    <h2>1. Az OpenBirdMaps adatbázis üzemeltetője:</h2>

    <p>
    Milvus Csoport Egyesület (Asociația Grupul Milvus)<br/>
    Munkapont címe: str. Márton Áron nr. 9/B, 540058 Târgu Mureș<br/>
    Hivatalos cím: str. Crinului nr.22, 540343 Târgu Mureş<br/>
    Tel/Fax: +40 265 264726<br/>
    e-mail (Milvus Csoport): <a class="western" href="mailto:office@milvus.ro">office@milvus.ro</a><br/>
    e-mail (OpenBirdMaps): <a class="western" href="mailto:openbirdmaps@milvus.ro">openbirdmaps@milvus.ro</a><br/>
    </p>

    <h2>2. Meghatározások</h2>

    <ul>
        <li><strong>személyes adat:</strong>azonosított vagy azonosítható természetes
            személyre (&quot;érintett&quot;) vonatkozó bármely információ;
            azonosítható az a természetes személy, aki közvetlen vagy
            közvetett módon, különösen valamely azonosító, például név,
            szám, helymeghatározó adat, online azonosító vagy a természetes
            személy testi, fiziológiai, genetikai, szellemi, gazdasági,
            kulturális vagy szociális azonosságára vonatkozó egy vagy több
            tényező alapján azonosítható; 
        </li>
        <li><strong>adatkezelés:</strong> a személyes adatokon vagy adatállományokon
            automatizált vagy nem automatizált módon végzett bármely művelet
            vagy műveletek összessége, így a gyűjtés, rögzítés,
            rendszerezés, tagolás, tárolás, átalakítás vagy
            megváltoztatás, lekérdezés, betekintés, felhasználás, közlés
            továbbítás, terjesztés vagy egyéb módon történő
            hozzáférhetővé tétel útján, összehangolás vagy
            összekapcsolás, korlátozás, törlés, illetve megsemmisítés;</li>
        <li><strong>üzemeltető:</strong> A Milvus Csoport Egyesület és az általa megjelölt
            természetes személyek, akik az adatbázis adminisztrációjáért
            felelősek (adminisztrátorok). Az OpenBirdMaps adminisztrátorok
            neve és elérhetősége az Összefoglaló lapján nyilvánosan
            elérhető.</li>
        <li><strong>OpenBioMaps:</strong> Az OpenBirdMaps adatbázis működésének alapjául
            az OpenBioMaps szoftver szolgál.</li>
        <li><strong>OpenBioMaps Konzorcium:</strong> Az OpenBirdMapset üzemeltető Milvus
            Csoport Egyesület tagja az OpenBioMaps konzorciumnak, melynek
            elsődleges célja az OpenBioMaps közösségi adatbázis
            keretrendszer fejlesztése és üzemeltetése. Ugyanakkor a
            konzorciumi tagok szerverei fontos adatbiztonsági szerepet is
            betöltenek.</li>
        <li><strong>szerver:</strong> Az OpenBioMaps Konzorcium tagszervezetei által
            üzemeltetett szerverek.</li>
        <li><strong>felhasználó:</strong> Azok a regisztrált természetes vagy jogi
            személyek, akik, miután más regisztrált felhasználótól
            meghívást kaptak az OpenBirdMaps használatára, elfogadják a
            felhasználási feltételeket és felhasználói azonosítóval
            bejelentkezve használják az OpenBirdMaps szolgáltatásait.</li>
        <li><strong>látogató:</strong> Az OpenBirdMaps webes szolgáltatásait használó nem
            bejelentkezett felhasználók.</li>
        <li><strong>névjegy adatok:</strong> a felhasználó által kötelezően vagy
            opcionálisan megadott személyes adatok, melyek a felhasználó
            egyedi azonosítását segítik elő. A kötelező adatok a
            felhasználó neve és e-mail címe, az opcionálisak pedig a
            felhasználó munkahelye, a szervezet, amihez tartozik, a címe és
            külső webes hivatkozások (pl. ResearchGate, OrcID).</li>
        <li><strong>profil menü:</strong> névjegy adatokat kezelő felület.</li>
        <li><strong>naplófájl:</strong> Az OpenBirdMaps weboldalakat kiszolgáló webszerver
            automatikus naplófájljai, amik a webes kérések forrását,
            eszközét és hivatkozását tárolják. A naplófájlok
            automatikusan archiválva vannak 1 évig.</li>
        <li><strong>biotikai adatok:</strong> A madár előfordulások megfigyelési adatai
            vagy más, a madarak elterjedéséhez kapcsolódó természetvédelmi,
            biológiai kutatási vagy oktatási célú adatok. Ezen adatok
            gyűjtése és bemutatása az OpenBirdMaps adatbázis elsődleges
            célja.</li>
    </ul>

    <h2>3. Az adatkezelés jogalapja</h2>

    <p>Az Európai Parlament és a Tanács (EU) 2016/679 rendelete (2016.
    április 27.) a természetes személyeknek a személyes adatok
    kezelése tekintetében történő védelméről és az ilyen adatok
    szabad áramlásáról, valamint a 95/46/EK rendelet hatályon kívül
    helyezéséről (általános adatvédelmi rendelet).</p>

    <h2>4. Az OpenBirdMaps által kezelt adatok köre</h2>

    <p>Adatkezelés a felhasználók önkéntes, tájékozott, és
    kifejezett hozzájárulása alapján az OpenBirdMaps szerverek
    honlapjain regisztrált felhasználók esetében történik a
    adatbázisokon való regisztráció, adatfeltöltés, véleményezés
    és adatmódosítás során.</p>
    <ul>
        <li>
            A felhasználó által a regisztráció alkalmával
            kötelezően megadott adatok a felhasználó neve és az e-mail
            címe. A felhasználó neve a többi felhasználó számára
            megismerhető. A felhasználó e-mail címét alap esetben csak a
            projekt üzemeltetők látják, de a felhasználó a saját döntése
            alapján (opcionálisan) láthatóvá teheti a többi felhasználó
            számára is.</li>
        <li>
            A regisztrációkor automatikusan rögzítésre kerül a
            regisztráció időpontja és a meghívó személy belső numerikus
            azonosítója. Ezt az adatot csak az adatbázis üzemeltetők
            láthatják.</li>
        <li>
            A felhasználó döntése alapján a saját profil menüben
            megadott adatok a munkahelye neve, a szervezet, amihez tartozik, a
            címe és külső webes hivatkozások (pl. ResearchGate, OrcID).
            Ezen adatokat csak a többi bejelentkezett felhasználó ismerheti.</li>
        <li>
            Az OpenBirdMaps látogatása során rögzítésre kerül a
            látogató számítógépének IP-címe, a látogatás kezdő
            időpontja, illetve egyes esetekben – a felhasználó
            számítógépének beállításától függően – a böngésző
            és az operációs rendszer típusa. Rögzítésre kerülnek továbbá
            a megfigyelések részleteinek megtekintése és ennek az időpontja,
            az adatletöltések és ezek időpontja. Ezen adatokat a rendszer
            automatikusan naplózza a naplófájlban és csak a projekt
            üzemeltetők számára elérhető.</li>
        <li>
            A felhasználók által feltöltött biotikai adatoknak is
            van egy személyes adat komponense, ugyanis az adatot gyűjtő
            (megfigyelő) és az adatot feltöltő személy neve rögzítésre
            kerül az adatok többi komponenséhez (pl hely, dátum) kapcsolva.
            Ezen adatok nyilvánosak lesznek, vagy bizonyos esetekben a
            részlegesen nyilvánosak.</li>
    </ul>

    <h2>5. Az adatkezelés célja</h2>

    <ul>
        <li>
            A biotikai adatok gyűjtése és nyilvános bemutatása az
            OpenBirdMaps elsődleges célja. Az OpenBirdMaps egy on-line
            felületként szolgál a madár megfigyelések és az ehhez
            kapcsolódó biotikus adatok tudományos leközléséhez. A legtöbb
            biotikus adat teljesen vagy részlegesen nyilvános lesz, a
            személyes adat komponenst is beleértve.</li>
        <li>
            A regisztrált felhasználó által kötelezően megadott
            adatok esetében az adatok kezelésének célja a felhasználó
            jogosultságának azonosítása (biotikai adat feltöltés, biotikai
            adat módosítás és biotikai adat hozzáférés), valamint a
            felhasználói aktivitás minőségének értékelése a többi
            felhasználó által. Az adatokat az üzemeltető felhasználhatja
            arra, hogy a jogsértő tartalmak esetén a felhasználót
            felszólítsa a feltöltött jogsértő tartalmak eltávolítására.</li>
        <li>
            A felhasználó által a névjegyben önkéntes döntés
            alapján megadott adatok a belső internetes közösség alkotására,
            a felhasználók azonosítására vagy megkülönböztetésére
            szolgálnak.</li>
        <li>
            Az OpenBirdMaps használata során a naplófájlban
            automatikusan rögzítésre kerülő adatok esetében az adatok
            tárolása, felhasználása elsősorban technikai célokra
            (szerverek biztonságos működésének elemzésére, utólagos
            ellenőrzésre) történik a szerver üzemeltetők által.
            Ugyanakkor bizonyos adatokat az üzemeltetők felhasználhatnak a
            szabályokat megszegő felhasználók tetten érésére (pl. az
            adatok felhasználási feltételeinek be nem tartása esetén). Az
            így nyert adatsorokat más forrásból származó, személyes
            azonosításra alkalmas információkkal nem kapcsolja össze az
            üzemeltető, másoknak nem továbbítja. 
        </li>
        <li>
            Az anonim látogató azonosítása nem történik meg. A
            naplózott IP címek önmagában semmilyen módon nem képesek a
            látogatót azonosítani, csak a látogató gépének felismerésére
            alkalmas. Az adatkezelő az ilyen, a fent említett, személyes
            adatot nem tartalmazó anonim azonosítókat nem kapcsolja össze
            semmilyen módon más személyes adatokkal az anonim látogató
            vonatkozásában.</li>
        <li>
            Az adatkezelő a megjelölt céloktól eltérő célra a
            személyes adatokat nem használja, személyes adatokat harmadik
            személyeknek nem ad át. Ez nem vonatkozik az esetleges, törvény
            alapján kötelező adattovábbításokra.</li>
    </ul>

    <h2>6. Az adatkezelés időtartama</h2>

    <ul>
        <li>
            A felhasználó által kötelezően megadott és a
            használat során keletkezett kapcsolódó adatok esetében: amíg
            érvényes regisztrációja van az OpenBirdMaps adatbázisban.</li>
        <li>
            A felhasználó döntése alapján a névjegyben megadott
            adatok esetében: amíg a felhasználó nem törli vagy amíg a
            felhasználónak érvényes regisztrációja van az OpenBirdMaps
            adatbázisnak.</li>
        <li>
            Az OpenBirdMaps portálok használata során a naplófájlban
            rögzítésre kerülő adatok esetében: a látogatástól számított
            1 évig tárolja a rendszer az adatokat.</li>
        <li>
            A biotikai adatok személyes komponense, azaz a megfigyelő
            és a felhasználó neve végérvényesen a biotikai adat része
            marad, kivéve olyan esetekben, amikor az adminisztrátorok
            indokoltnak tartják ezek törlését.</li>
    </ul>

    <h2>7. A személyes adatok módosítása, törlése</h2>

    <p>A felhasználó jelszava megadásával bármikor módosíthatja a
    megadott nevét és e-mail címét, illetve a többi önkéntesen
    megadott névjegy adatokat. 
    </p>

    <p>A felhasználó bármikor törölheti a felhasználói fiókját
    vagy kérheti az adatbázis üzemeltetőjétől a felhasználói
    fiókja törlését. A felhasználói fiók törlésével együtt
    törlődnek a névjegy adatai az OpenBirdMaps felhasználói
    adatbázisból.</p>

    <p>A felhasználó által feltöltött biotikai adatok személyes
    adat komponense, azaz a megfigyelők neve és a felhasználó neve,
    nem törlődik a felhasználói fiók törlésével. Ezen adatok
    törlését kizárólag az adminisztrátorok tudják végrehajtani
    olyan ritka esetekben, amikor ezt indokoltnak érzik. A biotikus
    adatokat a felhasználó tudatosan és önkéntesen tudományos
    publikációként töltötte fel az OpenBirdMaps adatbázisba, ezért,
    hasonlóan a nyomtatott formában leközölt adatokhoz, az adatok
    törlésére ebben az esetben sem kerülhet sor. 
    </p>

    <h2>8. Adatbiztonsági intézkedések</h2>

    <p>Az adatkezelő biztonsági okokból a biotikai és a személyes
    adatokat is az OpenBioMaps titkosított privát hálózatán
    egymáshoz kapcsolódó, az OpenBioMaps Konzorcium tagjai által
    saját telephelyeiken üzemeltetett szerverek egy részén is
    tárolja. A szerverek kezelésére a konzorciumi tagok saját
    szerverfenntartási szabályozásai vonatkoznak. Jelszavas
    hozzáférése csak a Konzorcium által kijelölt rendszergazdáknak
    van. Az OpenBirdMaps szerverről történő személyes adattörlés
    maga után vonja a többi szerverről történő adattörlést is.</p>

    <p>Az OpenBioMaps Konzorcium kezelésében álló más szerverek
    nevei és üzemeltetőik:</p>

    <ol>
        <li>
            <p>http://openbiomaps.org<br/>
            Szerver üzemeltető: Debreceni
            Egyetem Informatikai Szolgáltató Központ<br/>
            Elérhetősége:
            H-4032 Debrecen, Egyetem tér 1., e-posta címe:
            helpdesk@it.unideb.hu</p></li>
        <li>
            <p>http://dinpi.openbiomaps.org<br/>
            Szerver üzemeltető:
            Duna-Ipoly Nemzeti Park Igazgatóság<br/>
            Elérhetősége:
            Duna-Ipoly Nemzeti Park Igazgatóság, H-1121 Budapest, Költő u.
            21., e-posta címe: bercess@dinpi.hu</p></li>
    </ol>

    <h2>9. Az adatkezelési szabályzat módosításának lehetősége</h2>

    <p>Az adatkezelő fenntartja a jogot, hogy jelen adatkezelési
    szabályzatot a felhasználók előzetes értesítése mellett
    egyoldalúan módosítsa. A felhasználó a módosítás
    hatálybalépését követő első belépéssel elfogadja a
    módosított adatkezelési szabályzatot.</p>

    <hr>

    <p>Utolsó frissítés: 2018. június 29.</p>

</div>