<div class="container">

    <h1>Regulamentul privind protecția datelor personale în OpenBirdMaps</h1>
    <h2>1. Operatorul bazei de date OpenBirdMaps:</h2>
    <p>
    Asociația Grupul Milvus</br>
    Punct de lucru: str. Márton Áron nr. 9/B, 540058 Târgu Mureș</br>
    Sediu: str. Crinului nr.  22, 540343 Târgu Mureş</br>
    Tel/Fax: +40 265 264726</br>
    E-mail (organizație): office@milvus.ro</br>
    E-mail (OpenBirdMaps): openbirdmaps@milvus.ro</br>
    </p>
    <h2>2. Definiții</h2>
    <ul>
        <li><strong>„Date cu Caracter Personal”</strong>
            înseamnă orice informații privind o persoană fizică identificată
            sau identificabilă; o persoană identificabilă este o persoană
            care poate fi identificată, direct sau indirect, în special prin
            referire la un element de identificare, cum ar fi un nume, un număr
            de identificare, date de localizare, un identificator online sau unul
            sau mai multe elemente specifice, proprii identității sale fizice,
            fiziologice, genetice, psihice, economice, culturale sau sociale.</li>
        <li><strong>„Prelucrare”</strong> (și
            derivatele sale) înseamnă orice operațiune sau set de operațiuni
            efectuate asupra Datelor cu Caracter Personal, incluzând, fără
            limitare, colectarea, înregistrarea, păstrarea, modificarea,
            utilizarea, dezvăluirea, accesul, transferul sau distrugerea
            acestora.</li>
        <li><strong>„Operatorul”</strong> este
            Asociația Grupul Milvus, respectiv persoanele fizice desemnate de
            aceasta, responsabile pentru administrarea bazei de date OpenBirdMaps
            (administratori). Numele și detaliile de contact ale
            administratorilor sunt publicate pe pagina de Sumar în OpenBirdMaps.</li>
        <li><strong>„OpenBioMaps”</strong>
            este software-ul care stă la baza funcționării bazei de date
            OpenBirdMaps.</li>
        <li><strong>„Consorțiul OpenBioMaps”</strong>:
            Asociația Grupul Milvus, operatorul bazei de date OpenBirdMaps,
            este membrul consorțiului OpenBioMaps. Scopul principal al acesteia
            este dezvoltarea și susținerea software-ului OpenBioMaps, dar
            serverele membrilor din consorțiu au și un rol important de
            siguranță a datelor încărcate în bazele de date operate de
            membrii consorțiului.</li>
        <li>Prin <strong>„servere”</strong>
            se vor înțelege serverele operate de membrii consorțiului
            OpenBioMaps.</li>
        <li><strong>„Utilizatorii”</strong>
            sunt acele persoane fizice sau juridice, care primesc invitație de
            accedere la baza de date OpenBirdMaps de la o persoană înregistrată,
            acceptă Termenele și Condițiile de utilizare și folosește baza
            de date după intrare (logare).</li>
        <li><strong>„Vizitatorii”</strong>
            sunt persoanele, care folosesc suprafața de web OpenBirdMaps fără
            intrare (logare).</li>
        <li><strong>„Datele de identificare utilizator”</strong>
            sunt acele date obligatorii sau opționale furnizate din propria
            inițiativă de utilizator, care sunt necesare sau ajută la
            identificarea utilizatorului. Datele de identificare obligatorii sunt
            numele și adresa de e-mail ale utilizatorului. Datele opționale
            includ locul de muncă, organizația de care aparține, adresa sau
            referințe externe de web (de ex. ResearchGate, OrcID).</li>
        <li><strong>„Meniu Profil”</strong>
            este suprafața unde pot fi administrate datele cu caracter personal.</li>
        <li><strong>„Fișierele log”</strong> sunt fișierele create în mod automat de
            serverul web al paginilor web OpenBirdMaps, care includ sursa,
            instrumentul și referințele interogărilor web.</li>
        <li>Prin <strong>„datele
                biotice”</strong> se înțeleg datele de
            distribuție a păsărilor respectiv alte date de cercetare
            biologică, de protecția naturii și de educație ecologică legate
            de datele de distribuție. Colectarea și prezentarea acestor date
            constituie principalul scop al funcționării bazei de date
            OpenBirdMaps.</li>
    </ul>
    <h2>3. Referințe la legislația în vigoare:</h2>
    <p>Regulamentul (UE) 2016/679 al Parlamentului European și al
    Consiliului din 27 aprilie 2016 privind protecția persoanelor fizice
    în ceea ce privește prelucrarea datelor cu caracter personal și
    privind libera circulație a acestor date și de abrogare a
    Directivei 95/46/CE (Regulamentul general privind protecția datelor)</p>
    <h2>4. Date personale prelucrate de OpenBirdMaps</h2>
    
    <p>Datele prelucrate de OpenBirdMaps sunt oferite în mod voluntar și
        conștient de utilizatori prin înregistrarea la OpenBirdMaps,
        încărcarea și modificarea de date în OpenBirdMaps, respectiv prin
        comentarii (toate datele personale cu excepția fișierelor log), sau
        sunt obținute cu acordul acestora (fișiere log).</p>
    <ul>
        <li>Adresa de email și numele sunt datele care trebuie furnizate în
            mod obligatoriu de utilizator în cursul înregistrării în
            OpenBirdMaps. Numele utilizatorului este vizibil pentru ceilalți
            utilizatori. Adresa de email este vizibilă numai administratorilor
            în mod implicit, dar utilizatorul are opțiunea de a o face vizibilă
            și celorlalți utilizatori.</li>
        <li>Odată cu înregistrarea unui utilizator în baza de date, se
            înregistrează în mod automat timpul exact al înregistrării și
            îi este atribuit un număr de identificare intern. Aceste date sunt
            accesibile numai administratorilor bazei de date.</li>
        <li>Utilizatorul are opțiunea de a oferi și alte date de
            identificare în meniul profil, precum locul de muncă, organizația
            de care aparține, adresa sau referințe externe de web (de ex.
            ResearchGate, OrcID). Aceste date vor fi vizibile celorlalți
            utilizatori. 
        </li>
        <li>În cursul vizitării bazei de date OpenBirdMaps vor fi
            înregistrate în mod automat adresa de IP, timpul începerii
            vizitei, respectiv – conform setărilor de pe calculatorul
            utilizatorului – poate fi înregistrat browser-ul, respectiv
            sistemul de operare folosit. Sunt înregistrate totodată toate
            cazurile de vizualizare a datelor, descărcarea datelor, împreună
            cu timpul acestora. Aceste date sunt vizibile numai
            administratorilor.</li>
        <li>Datele biotice încărcate de utilizatori au și ele un component
            care se încadrează în rândul datelor cu caracter personal: pe de
            o parte utilizatorul are obligația de a indica numele celui care a
            colectat informația respectivă (observatorul), pe de altă parte
            numele utilizatorului care a încărcat observația va fi legată de
            observație. În ambele cazuri numele este legat de alte componente
            ale observației, ca locul sau data (timpul) observației. Aceste
            date vor fi publice sau în anumite cazuri parțial accesibile.</li>
    </ul>

    <h2>5. Scopul prelucrării datelor</h2>

    <ul>
        <li>Colectarea și prezentarea datelor biotice constituie scopul
            principal al bazei de date OpenBirdMaps. OpenBirdMaps funcționează
            ca o suprafață on-line de publicare științifică a observațiilor
            de păsări și alte date biotice legate de acesta. Majoritatea
            datelor încărcate vor fi publice sau parțial publice, inclusiv
            componentul personal.</li>
        <li>Datele furnizate în mod obligatoriu de utilizatori (numele și
            adresa de e-mail) au rolul de a identifica în mod individual
            utilizatorii, de a permite/limita accesul (încărcare, vizualizare
            și editare date) la date, respectiv de a permite celorlalți
            utilizatori evaluarea activității utilizatorului. Aceste date pot
            fi folosite de administratori pentru sancționarea utilizatorilor în
            cazul încălcării regulamentului și condițiilor de utilizare ale
            bazei de date OpenBirdMaps.</li>
        <li>Datele opționale date de utilizatori în meniul profil au rolul
            de formare a unei comunități online sau/și de identificare a
            utilizatorilor.</li>
        <li>Datele colectate în mod automatizat în cursul utilizării
            OpenBirdMaps în fișierele log sunt utilizate în primul rând în
            scopuri tehnice (evaluarea funcționării și siguranței serverelor,
            verificări ulterioare a funcțiilor) de administratori. Totodată,
            anumite date din fișierele log pot fi utilizate de administratori
            pentru detectarea încălcării anumitor reguli de utilizatori.
            Datele din fișierele log nu vor fi combinate cu alte date cu
            caracter personal obținute din surse exterioare și nu vor fi
            predate altor entități.</li>
        <li>Vizitatorii anonimi nu sunt identificați. Adresele IP
            înregistrate nu pot fi folosite pentru identificarea vizitatorului.
            Administratorii nu leagă aceste date anonime cu alte date cu
            caracter personal prin care ar fi posibilă identificarea
            vizitatorilor.</li>
        <li>Operatorul nu va folosi datele personale pentru alte scopuri decât
            cele enumerate mai sus. Operatorul nu va preda datele personale altor
            persoane sau organizații, cu excepția eventualelor situații
            prevăzute prin lege.</li>
    </ul>

    <h2>6. Durata prelucrării datelor</h2>

    <ul>
        <li>Datele cu caracter personal, cu excepția datelor biotice,
            furnizate în mod obligatoriu de utilizator, respectiv datele
            colectate în mod automatizat în cursul utilizării bazei de date
            vor fi păstrate până când utilizatorul va avea un cont valid în
            OpenBirdMaps.</li>
        <li>Datele cu caracter personal opționale vor fi păstrate până
            când utilizatorul le șterge sau până când utilizatorul va avea
            un cont valid în OpenBirdMaps.</li>
        <li>Datele din fișierele log ale paginilor de web OpenBirdMaps sunt
            stocate timp de 1 an de la data vizitei.</li>
        <li>Componenta personală a datelor biotice, adică numele
            observatorilor, respectiv numele utilizatorilor, odată publicate de
            utilizatori vor rămâne definitiv în datele biotice, cu excepția
            unor cazuri rare în care administratorii consideră ștergerea
            justificată.</li>
    </ul>

    <h2>7. Editarea și ștergerea datelor cu caracter personal</h2>

    <p>Utilizatorul are oricând posibilitatea modificării numelui, al
    adresei de e-mail și a celorlalte date cu caracter personal
    furnizate în mod voluntar.</p>

    <p>Utilizatorul poate desființa (șterge) oricând contul său de
    utilizator sau poate cere ștergerea contului de către
    administratori. Odată cu ștergerea contului vor fi șterse toate
    datele de identificare utilizator.</p>

    <p>Componenta personală, adică numele observatorilor respectiv
    numele utilizatorilor, nu va fi ștearsă din datele biotice, cu
    excepția unor cazuri rare considerate justificate de către
    administratori. Datele biotice
    au fost publicate de utilizator în mod voluntar și conștient
    de faptul că, datele biotice vor avea statut de publicație
    științifică, iar, similar publicațiilor tipărite, ștergerea
    acestor date nu va fi posibilă.</p>

    <h2>8. Măsuri de siguranța datelor</h2>

    <p>Din motive de siguranță operatorul bazei de date păstrează o
    copie a datelor biotice și a altor date cu caracter personal în
    afara serverelor proprii și pe alte servere din sediul celorlalți
    membri ai Consorțiului OpenBioMaps, legate printr-o rețea
    securizată privată. Administrarea acestor servere este realizată
    conform regulilor proprii ale membrilor consorțiului. La aceste date
    au acces cu parolă numai administratorii desemnați de consorțiu.
    Ștergerea datelor personale din baza de date OpenBirdMaps atrage
    după sine și ștergerea acestor date de pe celelalte servere.</p>

    <p>Celelalte servere aflate în administrația consorțiului
    OpenBioMaps:</p>

    <ol>
        <li>
            <p>http://openbiomaps.org<br/>
            Operator: Debreceni Egyetem
            Informatikai Szolgáltató Központ<br/>
            Adresă: H-4032 Debrecen,
            Egyetem tér 1., Ungaria</p>
            <p>E-mail: helpdesk@it.unideb.hu</p></li>
        <li>
            <p>http://dinpi.openbiomaps.org<br/>
            Operator: Duna-Ipoly Nemzeti
            Park Igazgatóság<br/>
            Adersă: Duna-Ipoly Nemzeti Park Igazgatóság,
            H-1121 Budapest, Költő u. 21., Ungaria</p>
            <p>E-mail: <a href="mailto:bercess@dinpi.hu" target="_top">bercess@dinpi.hu</a></p></li>
    </ol>

    <h2>9. Modificarea regulamentului  privind protecția datelor personale în OpenBirdMaps</h2>

    <p>Operatorul își rezervă dreptul de a modifica prezentul
    regulament unilateral, având obligația de a anunța utilizatorii
    despre modificări. Utilizatorul va avea posibilitatea acceptării
    modificărilor la primare logare după intrarea în vigoare a
    regulamentului modificat.</p>

    <hr>
    
    <p>Data ultimei modificări: 29.06.2018</p>
</div>
