<h2>Cookie-uri</h2>
<p>Acest site folosește cookie-uri. Cookie-urile sunt fișiere de
dimensiuni mici care prin intermediul browser-ului sunt stocate pe
calculatorul utilizatorului. Cookie-urile stochează informații
despre folosirea unui funcții (de ex. setările de hartă) și
timpul folosirii acesteia, pe care browser-ul ni-le transmite când
vizitați pagina noastră de web. Cookie-urile facilitează
utilizarea mai rapidă a anumitor funcții repetate.</p>
<p>Folosim două tipuri de cookie-uri: (1) cookie-uri necesare din
punct de vedere tehnic, fără care pagina de web nu funcționează
perfect, respectiv (2) cookie-uri opționale.</p>
<h3>Cookie-uri necesare din punct de vedere tehnic:</h3>
<table class="table">
    <thead>
        <tr>
            <th>Denumire</th>
            <th>Durată</th>
            <th>Funcție</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>PHPSESSID</td>
            <td>1 oră</td>
            <td>identificator sesiune PHP, creat prin utilizarea PHP
                session(). Sesiunile sunt utilizate pentru a stoca informații despre
                setările și preferințele Dumneavoastră în cea ce privește
                utilizarea OpenBirdMaps, care contribuie la funcționarea adecvată a
                paginii. Informațiile stocate în sesiuni sunt temporare și sunt
                șterse în mod automat imediat ce părăsiți pagina.</td>
        </tr>
    </tbody>
</table>

<h3>Cookie-uri opționale</h3>
<table class="table">
    <thead>
        <tr>
            <th>Denumire</th>
            <th>Durată</th>
            <th>Funcție</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>wz</td>
            <td>1 an</td>
            <td>permisiune pentru folosirea rotiței mouse-ului pentru a face zoom pe hartă</td>
        </tr>
        <tr>
            <td>lastzoom</td>
            <td>1 an</td>
            <td>reține în memorie ultimul loc și nivelul de zoom pe hartă</td>
        </tr>
        <tr>
            <td>obm_lang</td>
            <td>1 an</td>
            <td>reține în memorie ultima limbă folosită pentru vizualizarea paginii</td>
        </tr>
        <tr>
            <td>systemMessage</td>
            <td>1 an</td>
            <td>Reține în memorie ascunderea mesajului de sistem</td>
        </tr>
    </tbody>
</table>
