/* MAINPAGE */
#mures-map {
    height: 80vh;
}
.box {
    background-color: white;
    color: black;
}
#mm-filter .SumoSelect {
    width: 100%;
}
#mm-filter h4 {
  margin-bottom: 15px !important;
}
#mm-filter .SumoSelect > .optWrapper {
    position: absolute;
    width: 100%;
}
#mm-filter .SumoSelect > .CaptionCont {
  box-shadow: 0 0 2px #7799D0;
  border-color: #7799D0;
}
#mm-filter .SumoSelect > .CaptionCont > span {
    font-size: 14px;
    height: 23px;
}
#cf-results,
#mm-results {
  margin-top: 30px;
}

#cf-results ul li {
    list-style-type: none;
}




/* -------------------------------------------- */ 

#mures-app .pure-menu a {
    font-size: 1rem;
    color: #777;
}
#mures-app .pure-menu-selected {
    background: none;
}
#mures-app .pure-menu-selected > .pure-menu-link, #mures-app .pure-menu-selected > .pure-menu-link:visited {
    color: #000;
}

.impact-legend {
    display: inline-block;
    border: 3px solid rgb(230, 230, 230);
    border-radius: 5px;
    padding: 0 10px;
    margin: 0 5px;
}
.impact-legend-s {
    background-color: rgb(239, 154, 154);
}
.impact-legend-m {
    background-color: rgb(229,57,53);
}
.impact-legend-r {
    background-color: rgb(183,28,28);
}

#mures-app form fieldset,
#mures-app form select {
    max-width: 380px;
}