.grid-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50px 70vh;
    grid-template-areas: 
    "header header"
    "sidenav main";
    margin: 2em 0;
}

.header {
    grid-area: header;
    background-color: #1e1e1e;
    padding: 0 16px;
}
.header__list {
    display: flex;
    align-items: center;
    list-style: none;
}
.header__list-item {
    padding: 0 3em;
    font-size: 18px !important;
    font-weight: bold;
}
.header__list-item a {
    color: var(--unread-color);
}
/* Give every child element its grid name */
.sidenav {
    grid-area: sidenav;
    overflow: auto;
    padding-left: 50px;
}

.main {
    grid-area: main;
    background-color: #fff;
    overflow: auto;
    padding-right: 50px;
}
/*
.main-content {
    max-width: 850px;
}
    max-width: 350px;
    */
.sidenav-content {
    float: right;
    font-size: 15px !important;
    font-weight: bold;
}

.sidenav__list {
    padding: 0;
    list-style-type: none;
}

.sidenav__list-item {
    padding: 20px 0;
}

.sidenav__list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
#body {
    padding: 0;
}
#footer {
    position: static;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}