#custom_page {
    padding-top: 67px;
}
.header {
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
}
.header select {
    margin-right: 5px;
}

@media all and (max-width: 700px) {
    .p16-menu,
    .header {
        flex-direction: column;
    }
    .p16-menu select,
    .header select {
        width: 100%;
        font-size: 13px;
        height: auto;
    }
}

.main {
    background-color: #fff;
    overflow: auto;
}

.buttons {
    margin: 1em;
}
/* raptor_monitoring styles */
#map {
    height: 80vh;
    width: 100%;
}

.toolbox,
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    max-width: 350px;
}

.n_observations {
    text-align: center;
    padding-bottom: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.p16-menu {
    padding: 16px;
}
.p16-menu select {
    margin-right: 5px;
}
.tool-results {
    display: flex;
    justify-content: space-evenly;
}
.finish-square textarea {
    width: 100%;
    margin-bottom: 30px;
}

.as_vertical_flex {
    display: flex;
    flex-direction: column;
}
.pure-form label,
.pure-form select,
.pure-form input,
.pure-form button {
    margin-top: 5px;
}
.reopen-square {
  cursor: pointer;
  color: red; 
  font-size: 14px;
}
.wait {
  width: 300px;
  height: 300px;
  background: url('../../css/img/ajaxwait.gif');
  background-size: cover;
  display: none;
}
