<style>
    @page {
        margin-top: 6cm;
        background-image: url('/projects/threats/local/styles/app/evolvulus/views/documents/background.png');
        background-image-resolution: 149;
        background-image-resize: 1;
    }
    td {
        padding-bottom: 0.6cm;
    }
    #harta {
        text-align: center;
    }
    form {
        text-align: right;
    }
    #coordinates-table {
        width:100%; 
        border-collapse: collapse;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        margin-top: 25px;
    }
    #coordinates-table tr {
        border-width: 1px;
        border-style: solid;
        border-color: black;
    }
    #coordinates-table tr td {
        width: 33%;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        padding: 5px;
    }
</style>
{{#data}}
    {{#error}}
        <p style="color: red">{{error}}</p>
    {{/error}}
    {{^error}}
        {{#data}}
            <form>
            <p>Nr. înreg. <input type="number" name="reg_no" />/<input type="date" name="reg_date" /></p>
            </form>
            <h1>Incendiere vegetație ierboasă pe raza comunei {{ comuna }}</h1>

            <h3>Către:</h3> 
            <h4>Garda Națională de Mediu – Comisariatul Județean {{ judet }}<br />
            Agenția de Plăți și Intervenție pentru Agricultură {{ judet }}
            {{#on_n2000}}
            <br />
            Agentia Națională pentru Arii Naturale Protejate ANANP - Serviciul Teritorial {{ judet }}
            {{/on_n2000}}
            </h4>
             
            <p>Prin prezenta adresă vă semnalăm un caz de incendiere de vegetație ierboasă, sesizată în data de <span style="font-weight: bold">{{date}}</span>, aflată pe o pajiște situată pe raza comunei <span style="font-weight: bold">{{comuna}}</span>, județul <span style="font-weight: bold">{{judet}}</span></p>

            <p>Atașat prezentei adrese găsiți fotografiile efectuate la fața locului (Anexa1) și o hartă care facilitează localizarea suprafeței (Anexa2).</p> 
            
            {{#on_n2000}}
                <p>Menționăm că perimetrul incendiat se află în situl Natura2000 <span style="font-weight: bold">{{sci}} {{spa}}</span></p>
            {{/on_n2000}}

            <p>Vă rugăm să dispuneți efectuarea controlului de teren, pentru analizarea situației și să luați măsurile care sunt în competența instituției Dvs. (de exemplu suspendarea eventualelor subvenții pentru nerespectarea condițiilor de întreținere a pajiștilor). Totodată, vă rugăm să ne comunicați rezultatul investigațiilor și măsurile dispuse.</p> 

            <p></p>
            <table style="width:100%">
                <tr>
                    <td style="width: 50%">Cu stimă,<br/><br/><span style="font-weight: bold">Papp Tamás</span><br />Președinte Asociația Grupul Milvus</td>
                    <td style="width: 50%">Întocmit de: <br /><br/><span style="font-weight: bold">Bărbos Laurențiu</span><br />Biolog</td>
                </tr>
            </table>
            <pagebreak>
            <h4>Anexa I. Fotografiile realizate la fața locului.</h4>
            <table>
            {{#images}}
                <tr>
                    {{#rows}}
                        {{#cells}}
                            {{#src}}<td style="width: 49%"><img src="{{ . }}" /></td>{{/src}}        
                        {{/cells}} 
                    {{/rows}}
                </tr>
            {{/images}}
            </table>
            {{#map}}
                <pagebreak>
                <h4>Anexa II. Harta zonei incendiate situate pe raza comunei {{ comuna }}, județul {{ judet }}{{#on_n2000}}, (in perimetrul sitului Natura 2000 {{sci}} {{spa}}){{/on_n2000}}</h4>
                <div id="harta">
                    <img src="https://osm.milvus.openbiomaps.org/?&service=WMS&request=GetMap&layers=MS%2Cthreat_points&styles=&format=image%2Fjpeg&transparent=false&version=1.1.1&width=600&height=600&srs=EPSG%3A3857&bbox={{bbox}}&obm_id={{obm_id}}" />
                </div>
                <table id='coordinates-table'>
                    <tr>
                        <td><h5> Coordonate </h5></td><td>Latitudine</td><td>Longitudine</td>
                    </tr>
                    <tr>
                        <td>WGS 84</td><td>{{coordinates.y_4326}}</td><td>{{coordinates.x_4326}}</td>
                    </tr>
                    <tr>
                        <td>Pulkovo 1942(58) / Stereo70</td><td>{{coordinates.y_3844}}</td><td>{{coordinates.x_3844}}</td>
                    </tr>
                </table>
            {{/map}}
            {{^last}}
                <pagebreak>
            {{/last}}
        {{/data}}
    {{/error}}
{{/data}}

