{{#data}}
    <style>
        table {
            border-collapse: collapse;
        }
        th {
            border: 1px solid gray;
        }
        td {
            width: 50%;
            border: 1px solid gray;
        }
        strong {
            font-weight: bold;
        }
    </style>
    {{#error}}
        <p style="color: red">{{error}}</p>
    {{/error}}
    {{^error}}
        {{#lists}}
            <h1>FIȘĂ DE TEREN PENTRU SPECIILE DE HERPETOFAUNĂ</h1>

            <table width="100%">
                <tbody>
                    <tr>
                        <td><strong>Data: </strong>{{data}}</td>
                        <td><strong>Observator(i): </strong>{{observator}}</td>
                    </tr>
                    <tr>
                        <td><strong>Ora: </strong>{{timp_incepere}}</td>
                        <td><strong>E-mail: </strong><a href="mailto:{{email}}" >{{email}}</a></td>
                    </tr>
                </tbody>
            </table>

            <h2>LOCALIZARE</h2>

            <table width="100%">
                <tbody>
                    <tr>
                        <td><strong>Nume sit Natura 2000</strong><br/>{{qgrids_sci}}</td>
                        <td><strong>Nume rezervație naturală</strong><br/>{{qgrids_npa}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><strong>Nr. punct / transect: </strong>{{obm_observation_list_id}}</td>
                    </tr>
                    <tr>
                        <td><strong>Suprafața învestigată: </strong>{{tracklog.surveyed_surface}}</td>
                        <td><strong>Durată transect: </strong>{{durata_lista}}</td>
                    </tr>
                    <tr>
                        <td><strong>Coordonată GPS, început transect</strong><br/>{{tracklog.start_point}}</td>
                        <td><strong>Coordonată GPS, sfârșit transect</strong><br/>{{tracklog.end_point}}</td>
                    </tr>
                    <tr>
                        <td><strong>Localitate</strong><br/>{{qgrids_comuna}}</td>
                        <td><strong>Toponim</strong><br/>_______________________________________</td>
                    </tr>
                    <tr>
                        <td><strong>Unități relief</strong><br/>{{qgrids_unitate_de_relief}}</td>
                        <td><strong>Cod careu (ETRS LAEA 5210)</strong><br/>{{qgrids_etrs1_name}}</td>
                    </tr>
                </tbody>
            </table>

            <h2>METODOLOGIE</h2>

            <table width="100%">
                <tbody>
                    <tr>
                        <td><strong>Metodologia de inventariere / monitorizare</strong><br/>{{tip_metodologie}}</td>
                    </tr>
                </tbody>
            </table>

            <h2>TIP HABITAT</h2>

            <table width="100%">
                <tbody>
                    <tr>
                        <td><strong>Habitat terestru 1: </strong>{{habitat_terestru}}</td>
                        <td><strong>Habitat acvatic 1: </strong>{{habitat_acvatic}}</td>
                    </tr>
                    <tr>
                        <td><strong>Habitat terestru 2: </strong>{{habitat_terestru2}}</td>
                        <td><strong>Habitat acvatic 2: </strong>{{habitat_acvatic2}}</td>
                    </tr>
                    <tr>
                        <td><strong>Habitat terestru 3: </strong>{{habitat_terestru3}}</td>
                        <td><strong>Habitat acvatic 3: </strong>{{habitat_acvatic3}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><strong>Alt tip de habitat: </strong>{{alt_tip_de_habitat}}</td>
                    </tr>
                </tbody>
            </table>

            <h2>INFORMAȚII SUPLIMENTARE (OPȚIONALE)</h2>

            <table width="100%">
                <tbody>
                    <tr>
                        <td colspan="2"><strong>Observații: </strong>{{observatii}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><strong>Imagini: </strong>{{filename}}</td>
                    </tr>
                    <tr>
                        <td><strong>Altitudine: </strong>{{altitudine}}</td>
                        <td><strong>Temperatura aerului (°C): </strong>{{temperatura_aer}}</td>
                    </tr>
                    <tr>
                        <td><strong>Lungime corp acvatic: </strong>{{lungime}}</td>
                        <td><strong>Temperatura apei: </strong>{{temperatura_apa}}</td>
                    </tr>
                    <tr>
                        <td><strong>Lățime corp acvatic: </strong>{{latime}}</td>
                        <td><strong>pH: </strong>{{ph}}</td>
                    </tr>
                    <tr>
                        <td><strong>Adâncime corp acvatic: </strong>{{adancime}}</td>
                        <td><strong>Conductivitate electrică (EC): </strong>{{ec}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><strong>Concentrație particule solide dizolvate (TDS): </strong>{{tds}}</td>
                    </tr>
                </tbody>
            </table>
            <pagebreak orientation="L" />

            <h2>DETALII REFERITOARE LA AMFIBIENI ȘI REPTILE</h2>

            <table >
                <tr>
                    <th>Nume specie</th>
                    <th>Număr exemplare</th>
                    <th>Adulți</th>
                    <th>Masculi</th>
                    <th>Femele</th>
                    <th>Subadulți</th>
                    <th>Metamorfi</th>
                    <th>Juvenili (primul an)</th>
                    <th>Larve, mormoloci</th>
                    <th>Pontă</th>
                    <th>Roadkill</th>
                </tr>
                {{#species_list}}
                    <tr>
                        <td style="text-align: center"><em>{{specia_sci}}</em></td>
                        <td style="text-align: center">{{numar_exemplar}}</td>
                        <td style="text-align: center">{{adult}}</td>
                        <td style="text-align: center">{{mascul}}</td>
                        <td style="text-align: center">{{femela}}</td>
                        <td style="text-align: center">{{subadult}}</td>
                        <td style="text-align: center">{{metamorf}}</td>
                        <td style="text-align: center">{{juvenil}}</td>
                        <td style="text-align: center">{{larve}}</td>
                        <td style="text-align: center">{{ponta}}</td>
                        <td style="text-align: center">{{roadkill}}</td>
                    </tr>
                {{/species_list}}
            </table>

            <pagebreak orientation="P" />

        {{/lists}}

    {{/error}}

{{/data}}
