<script> ebp_js(); </script>
<div id="ebp">
    {{#is_master}}
    <main>
        <input id="tab1" class="tabInput" type="radio" name="tabs" checked>
        <label for="tab1">Species</label>

        <input id="tab2" class="tabInput" type="radio" name="tabs">
        <label for="tab2">Protocols</label>

        <input id="tab3" class="tabInput" type="radio" name="tabs">
        <label for="tab3">Prepare data</label>

        <input id="tab4" class="tabInput" type="radio" name="tabs">
        <label for="tab4">DataProvision</label>

        <input id="tab5" class="tabInput" type="radio" name="tabs">
        <label for="tab5">Settings</label>
        <section id="content1">

            <h5> Download EBP species list and connect with your species list</h5>
            <button data-f="species_getEbpList" class="pure-button ebpActions"> Download & connect </button>
            <h5> Show species table </h5>
            <button data-f="species_table" class="pure-button ebpTables"> Show </button>

            <div id="species_table"></div>
        </section>

        <section id="content2">
            <div><button data-f="protocols_table" class="pure-button ebpTables">Get protocols</button></div>
            <div><button data-f="protocols_postProtocols" data-method="POST" class="pure-button ebpActions">Post
                    protocols</button></div>
            <div><button data-f="protocols_deleteProtocols" class="pure-button ebpActions">DELETE uploaded
                    protocols</button></div>
            <div id="protocols_table"></div>
        </section>

        <section id="content3">

            <div>
                <button data-f="data_requestNewData" class="pure-button ebpTables"> Request new data </button>
                <div id="data_requestNewData"></div>
            </div>
            <div>
                <button data-f="data_testData" class="pure-button ebpTables"> Test requested data </button>
                <div id="data_testData"></div>
            </div>
            <div>
                <button data-f="data_prepareData" class="pure-button ebpTables"> Prepare tested data for ebp
                    upload</button>
                <div id="data_prepareData"></div>
            </div>

            <!--
                <div><form id="prepareEventsForm"><div><label for="start_date">Start date</label><input type="date" id="start_date"> </div><div><label for="start_date">Start date</label><input type="date" id="end_date"></div><div><button data-f="data_prepareEvents" class="pure-button ebpTables" type="submit">Prepare Events</button></div></form></div>
                <div id="data_prepareEvents"></div>
        -->
        </section>

        <section id="content4">
            <div><button data-f="data_standardProvision" class="pure-button ebpTables"> Standard data provision
                </button></div>
            <pre id="data_standardProvision"></pre>

            <div><button data-f="data_auditLast" class="pure-button ebpTables"> Audit last provision </button></div>
            <pre id="data_auditLast"></pre>

            <div><input id="auditCode" type="number"><button data-f="data_auditCode" class="pure-button ebpTables">
                    Audit last provision </button></div>
            <pre id="data_auditCode"></pre>
        </section>

        <section id="content5">
            <div>
                <button data-f="init_createEbpTables" class="pure-button ebpActions" '. $dis .'> Create schema and
                    tables </button>
                <button data-f="init_dropSchemaAndTables" class="pure-button ebpActions button-danger"> DROP schema and
                    tables </button>
            </div>
            <hr>
            <div>
                <h3> records_raw table definition </h3>
                <textarea id="rawRecordsTable" class="view-definition" rows="10"
                    cols="40"> '.$rawRecordsTable .' </textarea>
                <button data-f="init_setRawRecordsTableDefinition" class="pure-button ebpActions"> Save </button>
            </div>
            <hr>
            <div>
                <h3> requestEbpData function definition </h3>
                <textarea id="requestEbpData_function" class="view-definition" rows="10"
                    cols="40"> '.$requestEbpData .' </textarea>
                <button data-f="init_setRequestEbpDataFunctionDefinition" class="pure-button ebpActions"> Save </button>
            </div>
            <hr>
            <div>
                <h3> Records view definition </h3>
                <textarea id="recordsView" class="view-definition" rows="10" cols="40"> '.$recordsView .' </textarea>
                <button data-f="init_setRecordsViewDefinition" class="pure-button ebpActions"> Save </button>
            </div>
            <hr>
            <div>
                <h3> Events view definition </h3>
                <textarea id="eventsView" class="view-definition" rows="10" cols="40"> '. $eventsView .' </textarea>
                <button data-f="init_setEventsViewDefinition" class="pure-button ebpActions"> Save </button>
            </div>
        </section>
    </main>
    {{/is_master}}
    {{^is_master}}
    <p>{{t.str_no_access_to_this_function}}</p>
    {{/is_master}}
</div>