<tr>
    <td>
        <i class='fa fa-external-link'></i>
        <a href='#tab_basic' data-url='includes/project_admin.php?options=ebp' class='profilelink'>
            EBP admin page
        </a>
    </td>
</tr>