.admin,
.controls {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.admin button,
.controls button {
    margin: 0 5px;
}
.slidercontainer {
    display: flex;
    align-items: center;
}

#bd-slider {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 0 10px;
}

#bd-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

#bd-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
region.wavesurfer-region:before {
    content: attr(data-region-label);
}

region.wavesurfer-region[data-region-tagged] {
  border: 1px solid rgb(131, 232, 186);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(131, 232, 186, 0.6);
}

region.wavesurfer-region[data-region-highlight] {
    border: 1px solid rgb(86, 180, 239);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
        
}
#bd-form {
    display: none;
    justify-content: center;
}
#bd-form input[type="text"] {
    font-size: 30px;
    text-align: center;
}
#bd-form button {
    width: 64px;
    height: 64px;
}
#bd-form button i {
    font-size: 25px;
}
header {
    text-align: center;
}
.mr {
    margin-right: 20px;
}

#bd-browser>div {
    max-height: 500px;
}
#bd-browser .records,
#bd-browser .sessions {
    overflow-y: auto;
}
#bd-browser .records-filter {
    display: none;
}
#bd-browser .records-filter input {
    text-align: center;
    margin: 0 40px;
    width: 300px;
}
#bd-browser .info {
    padding-left: 10px;
}

#bd-browser li {
    list-style-type: none;
    cursor: pointer;
}
#bd-browser .sessions .active {
    color: var(--unread-color);
}
#spectrogram2 img {
  width: 100%;
}

.records .done {
  color: green;
}
.records .partial {
  color: orange;
}
.records .priority {
  color: red;
}
.records .info {
  display: none;
}

.hvr {
  border: 2px solid var(--unread-color);
  color: var(--unread-color);
}
