#custom_page {
    padding-top: 67px;
}
.header {
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
}
.header select {
    margin-right: 5px;
}

@media all and (max-width: 700px) {
    .p3354-menu,
    .header {
        flex-direction: column;
    }
    .p3354-menu select,
    .header select {
        width: 100%;
        font-size: 13px;
        height: auto;
    }
}

.main {
    background-color: #fff;
    overflow: auto;
}

.buttons {
    margin: 1em;
}
/* raptor_monitoring styles */
#map {
    height: 80vh;
    width: 100%;
}

.toolbox,
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    max-width: 350px;
}

.n_observations {
    text-align: center;
    padding-bottom: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.p3354-menu {
    padding: 16px;
}
.p3354-menu select {
    margin-right: 5px;
}
.tool-results {
    display: flex;
    justify-content: space-evenly;
}
.finish-square textarea {
    width: 100%;
    margin-bottom: 30px;
}

.as_vertical_flex {
    display: flex;
    flex-direction: column;
}
.pure-form label,
.pure-form select,
.pure-form input,
.pure-form button {
    margin-top: 5px;
}
.slider-wrapper {
    display: inline-block;
    width: 250px;
    padding: 0 20px;
}
#time-slider-wrapper {
    width: 400px;
}
#custom-handle-time,
#custom-handle-timespan {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}
#rapmig-main-page .pure-u {
    margin-right: 30px;
}
.text-red {
    color: red;
}

.rapmig_mainpage_table td, th {
    text-align: center;
    padding: 10px;
}
.rapmig_mainpage_table td.spn {
    text-align: left;
}

.rapmig_mainpage_table tr td:hover {
    border: 2px solid red !important;
}
.rapmig_mainpage_table tr:hover{
    background-color: rgba(255, 255, 0, 0.5);
}

