[data-page="mainpage"] {
    @font-face {
        font-family: "Glyphicons Halflings";
        src: url("../fonts/glyphicons-halflings-regular.eot");
        src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");
    }
    body,
    html {
        width: 100%;
        height: 100%;
    }

    body {
        font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif !important;
    }

    hr {
        max-width: 50px;
        border-width: 3px;
        border-color: #6d850a;
    }

    hr.light {
        border-color: white;
    }

    a {
        color: white; //#6d850a;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
    }
    a:focus, a:hover {
        color: white; //#6d850a;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif !important;
        color: #6d850a !important;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .bg-primary {
        background-color: #6d850a !important;
    }

    .bg-dark {
        color: white;
        background-color: #222222 !important;
    }

    .text-faded {
        color: rgba(255, 255, 255, 0.7);
    }

    section {
        padding: 30px 0;
    }

    .section-heading {
        margin-top: 0;
    }

    ::-moz-selection {
        color: white;
        background: #222222;
        text-shadow: none;
    }

    ::selection {
        color: white;
        background: #222222;
        text-shadow: none;
    }

    img::selection {
        color: white;
        background: transparent;
    }

    img::-moz-selection {
        color: white;
        background: transparent;
    }

    body {
        padding-bottom: 200px;

        -webkit-tap-highlight-color: #222222;
    }

    #mainNav {
        border-color: rgba(34, 34, 34, 0.05);
        background-color: white;
        font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif !important;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
    }
    #mainNav .navbar-brand {
        font-weight: 700;
        text-transform: uppercase;
        color: #6d850a;
        font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif !important;
    }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
        color: #6d850a;
    }
    #mainNav .navbar-toggle {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
    #mainNav .navbar-nav > li.nav-item > a.nav-link {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
        color: #6d850a;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
        color: #6d850a !important;
        background-color: transparent;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        background-color: transparent;
    }
    @media (min-width: 992px) {
        #mainNav {
            border-color: rgba(255, 255, 255, 0.3);
            background-color: transparent;
        }
        #mainNav .navbar-brand {
            color: rgba(255, 255, 255, 0.7);
        }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
            color: white;
        }
        #mainNav .navbar-nav > li.nav-item > a.nav-link,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
            color: rgba(255, 255, 255, 0.7);
        }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: white;
        }
        #mainNav.navbar-shrink {
            border-color: rgba(34, 34, 34, 0.05);
            background-color: white;
        }
        #mainNav.navbar-shrink .navbar-brand {
            font-size: 16px;
            color: #6d850a;
        }
        #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
            color: #6d850a;
        }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
            color: #222222;
        }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: #6d850a;
        }
    }

    header.masthead {
        height: 100vh;
        min-height: auto;
        position: relative;
        width: 100%;
        text-align: center;
        color: white;
        background-image: url(../../images/eszakibuvar.jpg);
        background-position: left;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        @include above-s {
            min-height: 600px;
            background-position: center;
        }
    }
    header.masthead .header-content {
        position: relative;
        width: 100%;
        padding: 150px 15px 100px;
        text-align: center;
        @include above-s {
            position: absolute;
            top: 50%;
            padding: 0 50px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    header.masthead .header-content .header-content-inner {
        @include above-s {
            max-width: 1000px;
            margin-right: auto;
            margin-left: auto;
        }
    }
    header.masthead .header-content .header-content-inner h1 {
        font-size: 20px !important;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
        @include above-xs {
            font-size: 30px !important;
        }
        @include above-s {
            font-size: 50px !important;
        }
    }
    header.masthead .header-content .header-content-inner hr {
        margin: 60px auto;
    }
    header.masthead .header-content .header-content-inner p {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 50px;
        color: rgba(255, 255, 255, 0.7);
        @include above-s {
            font-size: 18px;
            max-width: 80%;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .service-box {
        max-width: 400px;
        margin: 50px auto 0;
    }
    @media (min-width: 992px) {
        .service-box {
            margin: 20px auto 0;
        }
    }
    .service-box p {
        margin-bottom: 0;
    }

    .portfolio-box {
        position: relative;
        display: block;
        max-width: 650px;
        margin: 0 auto;
    }
    .portfolio-box .portfolio-box-caption {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        opacity: 0;
        color: white;
        background: rgba(109, 133, 10, 0.9);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        text-align: center;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        padding: 0 15px;
        font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif !important;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 18px;
    }
    .portfolio-box:hover .portfolio-box-caption {
        opacity: 1;
    }
    .portfolio-box:focus {
        outline: none;
    }
    @media (min-width: 768px) {
        .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
            font-size: 16px;
        }
        .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
            font-size: 22px;
        }
    }

    .call-to-action {
        padding: 50px 0;
    }
    .call-to-action h2 {
        margin: 0 auto 20px;
    }

    .text-primary {
        color: #6d850a !important;
    }

    .no-gutter > [class*=col-] {
        padding-right: 0;
        padding-left: 0;
    }

    .btn-default {
        color: #222222;
        border-color: white;
        background-color: white;
    }
    .btn-default.focus, .btn-default:focus {
        color: #222222;
        border-color: #bfbfbf;
        background-color: #e6e6e6;
    }
    .btn-default:hover {
        color: #222222;
        border-color: #e0e0e0;
        background-color: #e6e6e6;
    }
    .btn-default.active, .btn-default:active, .open > .btn-default.dropdown-toggle {
        color: #222222;
        border-color: #e0e0e0;
        background-color: #e6e6e6;
    }
    .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .btn-default.dropdown-toggle.focus, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle:hover {
        color: #222222;
        border-color: #bfbfbf;
        background-color: #d4d4d4;
    }
    .btn-default.active, .btn-default:active, .open > .btn-default.dropdown-toggle {
        background-image: none;
    }
    .btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
        border-color: white;
        background-color: white;
    }
    .btn-default .badge {
        color: white;
        background-color: #222222;
    }

    .btn-primary {
        color: white;
        border-color: #6d850a;
        background-color: #6d850a;
    }
    .btn-primary.focus, .btn-primary:focus {
        color: white;
        border-color: #0c0e01;
        background-color: #465606;
    }
    .btn-primary:hover {
        color: white;
        border-color: #3e4c06;
        background-color: #465606;
    }
    .btn-primary.active, .btn-primary:active, .open > .btn-primary.dropdown-toggle {
        color: white;
        border-color: #3e4c06;
        background-color: #465606;
    }
    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .btn-primary.dropdown-toggle.focus, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle:hover {
        color: white;
        border-color: #0c0e01;
        background-color: #2b3404;
    }
    .btn-primary.active, .btn-primary:active, .open > .btn-primary.dropdown-toggle {
        background-image: none;
    }
    .btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
        border-color: #6d850a;
        background-color: #6d850a;
    }
    .btn-primary .badge {
        color: #6d850a;
        background-color: white;
    }

    .btn {
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        border-radius: 300px;
        font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif !important;
    }

    .btn-xl {
        padding: 15px 30px;
    }

    #homeSlogan {
        margin: 60px auto;

        h3 {
            font-size: 2rem !important;
        }
    }

    #emergency-points {
        padding: 0;
        background: white;

        #emergencyList,
        #partnersMap {
            height: calc(100vh - 166px);
            @include m-and-below {
                height: 40vh;
            }
        }


        .section-heading {
            padding: 10px 0;
        }
        .container {
            max-width: 100%;
        }
        #emergencyList {
            //      background-color: rgba(255, 255, 255, 0.6);
            overflow-x: hidden;
            overflow-y: scroll;
            @include s-and-below {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        .emergencyPoint {
            h5 {
                font-size: 1.25rem !important;
                color: white !important;
            }
            width: 90%;
            margin: 2px 5%;
            padding: 2px 0;
            text-align: center;
            border: 1px solid black;
            border-radius: 5px;
            background: rgba(255,255,255,.3);
            @include s-and-below {
                margin: 2px;
                width: 47%;
                padding: 2px 10px;
                max-height: 100px;
            }
        }

        #partnersMapCol {
            padding-bottom: 15px;
            @include xs-only {
                padding: 5px;
            }
        }
    }
    #qa {
        height: calc(100vh - 80px);
    }

    @media all and (max-width: 990px) {
        #qa {
            height: calc(100vh - 50px);
        }
    }

    .navbar {
        padding: 0 1rem;
    }

    .navbar-brand {
        padding: 0;
    }
    .navbar-brand img {
        height: 80px;
    }
    @media all and (max-width: 990px) {
        .navbar-brand img {
            height: 50px;
        }
    }

    #middle {
        margin-top: 80px;
    }
    @media all and (max-width: 990px) {
        #middle {
            margin-top: 50px;
        }
    }

    
    .h1, h1, h2 {
        font-size: 2rem !important;
        margin: 1.5em auto 2em !important;

        @include xs-only {
            font-size: 1rem !important;
        }
    }

    #grid {
        h3 {
            color: #6d850a !important;
        }

        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .slide {
        position: relative;
    }

}

/*# sourceMappingURL=../../scss/_creative.scss.map */
