[data-page="mainpage"] {

    #body {
        margin: 0;
        padding-bottom: 0;
    }

    #footer {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
        background: none;
        border: none;
    }

    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header {
        background-color: #e1efe6;
    }

    .pure-menu-link {
        font-family: 'Comfortaa', cursive;
        cursor: pointer;
        color: #777;
        font-size: 1.2em;
    }
    .field-title {
        font-size: 13px;
    }

    .boxul {
        padding: 0;
    }

}

.navbar-brand img {
    max-height: 70px;
}

#patientsList {
    padding: 0;
}

.patientSelect {
    border: 1px solid #999;
    border-radius: 5px;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
    margin: 15px 0;

    @include s-and-below {
        display: none;
    }

    .patientNav {
        font-size: 14px;
        line-height: 70px;
        /*        background-color: #aeb7b3;*/

        @include above-s {
            display: none;
        }
    }

    .patientSpecies {
        font-size: 18px;
        padding: 5px 0;
    }
    .patientMarking {
        font-size: 10px;
        padding-bottom: 3px;
    }

    &:hover {
        //    background: #ccc;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .pure-button {
        margin: 0 2px;
        display: inline;
    }
}

.pActive {
    border-width: 3px;
    @include s-and-below {
        border-width: 1px;
        display: flex;
    }
}

.pdKeys,
.pdValues {
    font-size: 11px;
    line-height: 2;
}

.pdKeys {
    text-align: right;
    padding-right: 5px;
    border-right: 1px solid #000411;
}

.pdValues {
    padding-left: 5px;
}

#patientDetails {
    @include m-and-below {
        margin-top: 30px;
    }

    .pure-g {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    button {
        margin: 0 2px;
    }
}
.tabs {
    margin-bottom: 15px;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    background: #ddd;
}

.tab {
    background: #ddd;
    display: inline-block;
}

.activeTab {
    background: #fff;
}
.wrapper {
    margin: 0;
}
.box {
    padding: 0;
}
