$xs: 470px !default; 
$s: 768px !default; 
$m2: 950px !default; 
$m: 1024px !default; 
$l: 1500px !default; 

@mixin xs-only {
    @media all and (max-width: $xs - 1) {
        @content;
    }
}

@mixin above-xs {
    @media all and (min-width: $xs) {
        @content;
    }
}

@mixin s-and-below {
    @media all and (max-width: $s - 1) {
        @content;
    }
}
@mixin above-s {
    @media all and (min-width: $s) {
        @content;
    }
}
@mixin m2-and-below {
    @media all and (max-width: $m2 - 1) {
        @content;
    }
}
@mixin m-and-below {
    @media all and (max-width: $m - 1) {
        @content;
    }
}
@mixin l-and-below {
    @media all and (max-width: $l - 1) {
        @content;
    }
}

