#footer {
    padding: 0;

    li {
        list-style-type: none;
        display: inline-block;

    }
    hr {
        border: 0;
        height: 2px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
    }
    ul {
        padding: 0;
    }

    .pure-g {
        padding: .5em 7.5em .5em 3.5em;
    }
    .contrib {
        text-align: right;
        @include s-and-below {
            text-align: center;
        }
    }
    .social {
        text-align: right;
    }

    .fa-facebook-square {
        font-size: 200%;
        color: #3B5998;
    }

    .fa-youtube-play {
        font-size: 200%;
        color: red;
    }

}



#fLang { 
    ul li {
        margin: 0 .2em;
    }

    @include s-and-below {
        li {
            display: inline-block;
        }

    }
}


.fl_custom {
    font-size: 110%;
    color: black !important;
}

