.main-logo-text {
    display: none !important;
}
.navbar {
    background-color: #fcfaf9;
}

.navbar-brand img {
    max-height: 40px;
}
.nav-item a {
    color: rgb(216, 27, 96) !important;
}
.nav-item a:selected {
    color: rgb(216, 27, 196) !important;
}
#atlas-map {
    width: 100%;
    height: calc(100vh - 80px);
}
section {
    position: relative;
    padding: 0;
}

.species-list {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fcfaf9;
    z-index: 10000;
    height: calc(100vh - 80px);
    overflow-y: auto;
    overflow-x: hidden;
}

.side-nav {
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    z-index: 10001;
    height: 45px;
    margin: auto;
    width: 40px;
}

.side-nav .btn {
    padding: 10px;
    text-align: center;
    width: 100%;
}
.species-list ul {
    padding-right: 2rem;
    text-align: right;
}

.species-list ul li {
    text-align: left;
    width: 80%;
    overflow-x: hidden;
}


