button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
/*    opacity: .5;*/
    margin: 10px;
}
#whatsnew {
    background-color:#08415c; 
    text-align:center;
}
#whatsnew a {
    color:#eee5e9; 
}

#whatsnew_text {
    padding-top:1.5em;
    padding-bottom:1.5em;
    font-size: 1.1rem;
    line-height: 1;
}

.success-message {
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    border: 5px solid #f4dfdf;
    padding: 3px 10px;
}
.error-message {
    background-color: #f2dede;
    color: red;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    border: 5px solid #f4dfdf;
    padding: 3px 10px;
}
#dlr-message {
    margin: 10px 0;
    display: none;
}
.scrollbar {
    max-height: 80vh;
}
#mpr {
    max-width: 900px;
    margin: 0 auto;
}

.preformatted-text {
    word-wrap: unset;
    white-space: unset;
}

