{{#data}}
    {{#error}}
        <p style="color: red">{{error}}</p>
    {{/error}}
    {{^error}}
        <h1>Fişa de evidenţă a ”Centrului de Reabilitare a Păsărilor Sălbatice Grupul Milvus”</h1>

        <h2>Trimestru {{trimester}}/{{year}}</h2>

        <table>
            <tr>
                <td>Denumirea grădinii zoologice/acvariului public:</td><td style="font-weight: bold">Centru de Reabilitare pentru Animale Sălbatatice Rănite Grupul Milvus</td>
            </tr>
            <tr>
                <td>Numele şi prenumele proprietarului: </td><td style="font-weight: bold">Asociația Grupul Milvus</td>
            </tr>
            <tr>
                <td>Tipul de proprietate:</td><td style="font-weight: bold">proprietate publică</td>
            </tr>
            <tr>
                <td>Numele şi prenumele administratorului:</td><td style="font-weight: bold">Sajnár György</td>
            </tr>
            <tr>
                <td>Adresa instituţiei:</td><td style="font-weight: bold">str. Crinului 22 Tg. Mureș, jud. Mureș</td>
            </tr>
            <tr>
                <td>Telefon:</td><td style="font-weight: bold">0265-264726</td>
            </tr>
            <tr>
                <td>Fax:</td><td style="font-weight: bold">0265-264726</td>
            </tr>
            <tr>
                <td>E-mail:</td><td style="font-weight: bold"><a href="mailto:office@milvus.ro">office@milvus.ro</a></td>
            </tr>
            <tr>
                <td>adresa paginii de internet:</td><td style="font-weight: bold"><a href="https://milvus.ro" target="_blank">https://milvus.ro</a></td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td>Data înfiinţării centrului de reabilitare:</td><td style="font-weight: bold">01.01.2012</td>
            </tr>
            <tr>
                <td>Suprafaţa totală a instituţiei (m2):</td><td style="font-weight: bold">1021 m2</td>
            </tr>
            <tr>
                <td>Suprafaţa amplasamentelor (m2):</td><td style="font-weight: bold">92 m2</td>
            </tr>
            <tr>
                <td>Numărul autorizaţiei de mediu:</td><td style="font-weight: bold">286/23.08.2012</td>
            </tr>
            <tr>
                <td>&#9;Data emiterii:</td><td style="font-weight: bold">23.08.2012</td>
            </tr>
            <tr>
                <td>&#9;Data expirării:</td><td style="font-weight: bold">23.08.2022</td>
            </tr>
            <tr>
                <td>Numărul autorizaţiei sanitar-veterinare:</td><td style="font-weight: bold">Nu este cazul</td>
            </tr>
            <tr>
                <td>&#9;Data emiterii:</td><td style="font-weight: bold">Nu este cazul</td>
            </tr>
            <tr>
                <td>&#9;Data expirării:</td><td style="font-weight: bold">Nu este cazul</td>
            </tr>
        </table>

        <hr>

        <table>
            <tr>
                <td>Numărul total de specii:</td><td style="font-weight: bold">{{species_no}}</td>
            </tr>
            <tr>
                <td>Numărul total de exemplare:</td><td style="font-weight: bold">{{indiv_no}}</td>
            </tr>
            <tr>
                <td>Activităţi de conservare a speciilor:</td><td style="font-weight: bold">Reabilitare</td>
            </tr>
            <tr>
                <td>Date despre Planul colecţiei de animale:</td><td style="font-weight: bold">Nu este cazul</td>
            </tr>
            <tr>
                <td>Date despre Planul de austeritate pentru animale <br> în cazul închiderii grădinii zoologice/ acvariului <br> public sau în cazul întreruperii subvenţiilor:</td><td style="font-weight: bold">Se păstrează un număr suficient de angajaţi până la redistribuirea păsărilor din centru.</td>
            </tr>
            <tr>
                <td>Activităţi de educare şi sensibilizare a publicului:</td><td style="font-weight: bold">Activităţi de educare</td>
            </tr>
            <tr>
                <td>Colaborări cu alte grădini zoologice/acvarii publice şi/sau cu alte organizaţii:</td>
                <td style="font-weight: bold">
                    <ul> 
                        {{#collaborators}}
                            <li>{{.}}</li>
                        {{/collaborators}}

                    </ul>
                </td>
            </tr>
            <tr>
                <td>Surse de finanţare:</td><td style="font-weight: bold">Sponsorizări, proiecte</td>
            </tr>
        </table>

        <hr>

        <h3>Lista speciilor de animale din colecţie</h3>
        <h4>1.Denumirea comună şi denumirea ştiinţifică a speciilor de animale:</h4>
        Vezi anexa 1 (Anexa1_tabel__Milvus_raport_trimestrial_{{trimester}}_{{year}})

        <h4>2.Sexul indivizilor din colecţie:</h4>
        Nu este cazul

        <h4>3.Provenienţa indivizilor</h4>
        Persoane fizice, asociații de mediu

        <h4>4. Intrări de specii în colecţie în perioada {{from}} - {{until}}: {{intrari}}</h4>
        <ul style="list-style-type: none;">
            <li>4.1 Specii de vertebrate/nevertebrate intrate în colecţie: {{intrari}}</li>
            <li>
                <ul style="list-style-type: none;">
                    <li>4.1.1. Număr de indivizi născuţi/eclozaţi în captivitate: <span style="font-weight: bold">Nu este cazul</span></li>
                    <li>4.1.2. Donaţii: <span style="font-weight: bold">Nu este cazul</span></li>
                    <li>4.1.3. Cumpărări:  <span style="font-weight: bold">Nu este cazul</span></li>
                    <li>4.1.4. Schimburi: <span style="font-weight: bold">Nu este cazul</span></li>
                    <li>4.1.5. Număr de indivizi intraţi în colecţie din alte cauze: <span style="font-weight: bold">A se vedea anexa 1 (acestea conțin și exemplare la care s-a oferit doar consultanță)</span></li>
                </ul>
            </li>
        </ul>

        <h4>5. Specii de animale ieşite din colecţie în perioada {{from}} - {{until}} pentru care se completează Registrul:</h4> 
        Vezi anexa 2 (Anexa2_tabel__Milvus_raport_trimestrial_{{trimester}}_{{year}})

        <ul style="list-style-type: none;">
            <li>5.1.Specii de vertebrate/nevertebrate ieşite din colecţie: <span style="font-weight: bold">Vezi anexa 2 (Anexa2_tabel__Milvus_raport_trimestrial_{{trimester}}_{{year}})</span></li>
            <ul style="list-style-type: none;">
                <li>5.1.1. Număr de indivizi evadaţi: <span style="font-weight: bold">Nu este cazul</span></li>
                <li>5.1.2. Număr de indivizi decedaţi: <span style="font-weight: bold">Decedați: {{decedati}}, Eutanasie: {{eutanasie}}</span></li>
                <li>5.1.3. Număr de indivizi ieşiţi din colecţie prin donaţie: <span style="font-weight: bold">Nu este cazul</span></li>
                <li>5.1.4. Număr de indiviziieşiţi din colecţie prin schimburi cu alte grădini zoologice/acvarii publice/delfinarii: <span style="font-weight: bold">Nu este cazul</span></li>
                <li>5.1.5. Număr de indivizi ieşiţi din colecţie din alte cauze: <span style="font-weight: bold">Nu este cazul</span></li>
                <li>5.1.6. Reabilitare reușită – eliberare: <span style="font-weight: bold">{{eliberat}}</span></li>
            </ul>
        </ul>

        <div style="margin-top: 100px; font-weight: bold">Sajnár György</div>
        Administrator Centru de Reabilitare pentru păsări MILVUS
        <pagebreak>
        <h2>Anexa 1</h2>
        <p>În trimestrul {{trimester}} ({{from}}-{{until}}) al anului curent Centrul nostru de Reabilitare a adăpostit {{birds}} specii de păsări și {{mammals}} mamifer. {{#location_data}} Solicitările au venit din {{locations}} localități, din {{counties}} județe.{{/location_data}} Lista pacientilor care au beneficiat de tratamente/consultanță în trimestrul {{trimester}} ({{from}}-{{until}}) al anului {{year}} este următoarea:</p>
        <table class="pure-table pure-table-striped">
            <thead>
                <tr>
                    <th>Nr.</th>
                    <th>Denumire științifică</th>
                    <th>Denumire populară</th>
                    <th>Număr</th>
                </tr>
            </thead>
            <tbody>
                {{#patient_list}}
                <tr>
                    <td>{{nr}}</td>
                    <td>{{sci_name}}</td>
                    <td>{{rom_name}}</td>
                    <td>{{count}}</td>
                </tr>
                {{/patient_list}}
            </tbody>
        </table>
        <p>În perioada de raportate, echipa Centrului a fost la dispoziția celor care au apelat la numărul de urgență, numărul fix al asociației sau prin intermediul rețelei sociale Facebook. În total, am înregistrat {{phone_calls}} de apeluri.</p>
        <pagebreak>
        <h2>Anexa 2</h2>

    {{/error}}
{{/data}}
