#ebp p:not(:last-child) {
  margin: 0 0 20px;
}

#ebp {
    margin: 30px;
}

#ebp main {
  max-width: 100%;
  padding: 30px;
  border: 1px solid rgba(0,0,0,.2);
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

#ebp section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #abc;
}

#ebp .tabInput {
    display: none;
}

#ebp label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #abc;
  border: 1px solid transparent;
}

#ebp label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

/*label[for*='1']:before { content: '\f1cb'; }
label[for*='2']:before { content: '\f17d'; }
label[for*='3']:before { content: '\f16c'; }
label[for*='4']:before { content: '\f171'; }
*/

#ebp label:hover {
  color: #789;
  cursor: pointer;
}

#ebp input:checked + label {
  color: #0af;
  border: 1px solid #abc;
  border-top: 2px solid #0af;
  border-bottom: 1px solid #fff;
}

#ebp #tab1:checked ~ #content1,
#ebp #tab2:checked ~ #content2,
#ebp #tab3:checked ~ #content3,
#ebp #tab4:checked ~ #content4,
#ebp #tab5:checked ~ #content5 {
  display: block;
}

@media screen and (max-width: 800px) {
  #ebp label {
    font-size: 0;
  }
  #ebp label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  #ebp label {
    padding: 15px;
  }
}
#ebp hr {
    margin: 30px 0;
}
